Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run -e lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]

more prs
  .github/dependabot.yml
  .github/renovate.json5
  scripts/generate-matrix.py
Due: check-yaml

group pyo3
  .github/renovate.json5
Due: none

fix: use 2.17 sysroot (#473)
  recipe/testsuite-backends/recipe.yaml
  recipe/variants.yaml
Due: check-yaml

group rattler further
  .github/renovate.json5
Due: none

split major github actions
  .github/renovate.json5
Due: none

grouop
  .github/renovate.json5
Due: none

chore: reconfigure renovate for more fine grained PRs (#474)
  .github/dependabot.yml
  .github/renovate.json5
  renovate.json5
  scripts/generate-matrix.py
Due: check-yaml

fix: update code for rattler, pixi, and rattler-build API changes
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/specs_conversion.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-backend/src/traits/package_spec.rs
  crates/pixi-build-backend/src/utils/test.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/recipe-stage0/src/matchspec.rs
Due: taplo

fix: update py-pixi-build-backend dependencies for compatibility
  Cargo.lock
  Cargo.toml
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi.lock
  py-pixi-build-backend/pixi.toml
Due: taplo

fix: collapse nested if-let statements in py-pixi-build-backend
  py-pixi-build-backend/src/recipe_stage0/recipe.rs
Due: none

use 1.89 rust
  recipe/variants.yaml
Due: check-yaml

fix: resolve clippy warnings (collapsible-if, useless-concat)
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-rust/src/metadata.rs
Due: none

chore: bump rattler, pixi, and rattler-build (#472)
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/specs_conversion.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-backend/src/traits/package_spec.rs
  crates/pixi-build-backend/src/utils/test.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/src/metadata.rs
  crates/recipe-stage0/src/matchspec.rs
  pixi.lock
  pixi.toml
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi.lock
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/src/recipe_stage0/recipe.rs
  recipe/variants.yaml
  rust-toolchain
Due: check-yaml, taplo

feat: add experimental config option for rattler-build backend (#470)
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  docs/backends/pixi-build-rattler-build.md
Due: none

fix: find variant
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/specs_conversion.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  recipe/pixi-build-api-version/recipe.yaml
  recipe/pixi-build-cmake/recipe.yaml
  recipe/pixi-build-mojo/recipe.yaml
  recipe/pixi-build-python/recipe.yaml
  recipe/pixi-build-rattler-build/recipe.yaml
  recipe/pixi-build-ros/recipe.yaml
  recipe/pixi-build-rust/recipe.yaml
  recipe/py-pixi-build-backend/recipe.yaml
  recipe/testsuite-backends/recipe.yaml
Due: check-yaml

initial commit for R backend
  crates/pixi-build-r/Cargo.toml
  crates/pixi-build-r/src/build_script.j2
  crates/pixi-build-r/src/build_script.rs
  crates/pixi-build-r/src/config.rs
  crates/pixi-build-r/src/main.rs
  crates/pixi-build-r/src/metadata.rs
Due: taplo

add pixi-build-r backend
  Cargo.lock
  README.md
  crates/pixi-build-r/Cargo.toml
  crates/pixi-build-r/src/main.rs
  pixi.toml
Due: taplo

fix lint
  crates/pixi-build-r/src/metadata.rs
Due: none

more dependency parsing
  crates/pixi-build-r/README.md
  crates/pixi-build-r/src/build_script.j2
  crates/pixi-build-r/src/config.rs
  crates/pixi-build-r/src/main.rs
  crates/pixi-build-r/src/metadata.rs
Due: none

fix: validate license early in the metadata process
  Cargo.lock
  Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/src/metadata.rs
Due: taplo

fix: make use of actual license_files in pyprojecttomls
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-rust/src/metadata.rs
Due: none

fix: rename license_file to license_files in python backend
  backends/pixi-build-ros/tests/test_meta_data_provider.py
  py-pixi-build-backend/src/types/metadata_provider.rs
Due: none

misc: output warnings to tracing warning
  Cargo.lock
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/src/main.rs
Due: taplo

chore: remove deadcode label
  crates/pixi-build-python/src/metadata.rs
Due: none

chore: bump rust to 1.90
  rust-toolchain
Due: none

fix: update crates and remove unused
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
  pixi.lock
  pixi.toml
Due: taplo

fix: bump rust version for recipes
  recipe/variants.yaml
Due: check-yaml

fix: update dependencies in py-pixi-build-backend
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
Due: taplo

feat: bump crates and remove unused crates (#494)
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
  pixi.lock
  pixi.toml
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  recipe/variants.yaml
  rust-toolchain
Due: check-yaml, taplo

fix: bump backend crates
  Cargo.lock
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-mojo/Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rust/Cargo.toml
  crates/recipe-stage0/Cargo.toml
  py-pixi-build-backend/Cargo.toml
Due: taplo

fix: update py-pixi-build backend repo
  py-pixi-build-backend/Cargo.lock
Due: none

fix: find variant (#475)
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/specs_conversion.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  recipe/pixi-build-api-version/recipe.yaml
  recipe/pixi-build-cmake/recipe.yaml
  recipe/pixi-build-mojo/recipe.yaml
  recipe/pixi-build-python/recipe.yaml
  recipe/pixi-build-rattler-build/recipe.yaml
  recipe/pixi-build-ros/recipe.yaml
  recipe/pixi-build-rust/recipe.yaml
  recipe/py-pixi-build-backend/recipe.yaml
  recipe/testsuite-backends/recipe.yaml
Due: check-yaml

fix: add minijinja
  Cargo.lock
  crates/pixi-build-backend/Cargo.toml
Due: taplo

fix: pixi-build-ros tests
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/pixi_build_backend/types/metadata_provider.py
  py-pixi-build-backend/pixi_build_backend/types/project_model.py
Due: taplo

fix: bump lockfile
  py-pixi-build-backend/Cargo.lock
Due: none

fix: add minijinja dep
  Cargo.lock
  crates/pixi-build-backend/Cargo.toml
  py-pixi-build-backend/Cargo.lock
Due: taplo

fix: add minijinja dep (#498)
  Cargo.lock
  crates/pixi-build-backend/Cargo.toml
  py-pixi-build-backend/Cargo.lock
Due: taplo

feat: pyproject.toml dep parsing
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-python/src/pypi_mapping.rs
  crates/pixi-build-rust/src/main.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: taplo

Make `GenerateRecipe` async
  Cargo.lock
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/Cargo.toml
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/src/main.rs
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: taplo

fix: bump backend crates (#496)
  Cargo.lock
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-mojo/Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rust/Cargo.toml
  crates/recipe-stage0/Cargo.toml
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
Due: taplo
