Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run -e lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]

fix: API package name
  recipe/pixi-build-cmake.yaml
  recipe/pixi-build-python.yaml
  recipe/pixi-build-rattler-build.yaml
  recipe/pixi-build-rust.yaml
Due: check-yaml

fix: channels of recipe build task
  pixi.toml
Due: taplo

bump: versions
  Cargo.lock
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rust/Cargo.toml
Due: taplo

experiment: add intermediate recipe presentation
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/src/build_script.rs
  crates/pixi-build-rust/src/rust.rs
  crates/recipe-stage0/Cargo.toml
  crates/recipe-stage0/src/lib.rs
  crates/recipe-stage0/src/marked_yaml.rs
  crates/recipe-stage0/src/matchspec.rs
  crates/recipe-stage0/src/recipe.rs
  crates/recipe-stage0/src/snapshots/recipe_stage0__recipe__tests__project_model_into_recipe.snap
Due: taplo

misc: add snapshot
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__rust__tests__generate_rust_recipe_from_project_model.snap.new
Due: none

Return source records with pixi-build-rattler-build
  Cargo.lock
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rattler-build/src/protocol.rs
Due: taplo

Continue
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

Add comment
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

Taplo fmt
  crates/pixi-build-rattler-build/Cargo.toml
Due: taplo

Fix clippy lints
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

feat: add first implementation of intermediate recipe
  Cargo.lock
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/src/rust.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__openssl@bash.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__openssl@cmdexe.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__sccache@bash.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__sccache@cmdexe.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__rust__tests__generate_rust_recipe_from_project_model.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__rust__tests__generate_rust_recipe_from_project_model.snap.new
  crates/recipe-stage0/Cargo.toml
  crates/recipe-stage0/src/marked_yaml.rs
  crates/recipe-stage0/src/matchspec.rs
  crates/recipe-stage0/src/recipe.rs
  crates/recipe-stage0/src/snapshots/recipe_stage0__recipe__tests__recipe_to_yaml.snap
  crates/recipe-stage0/tests/fixtures/minimal_project_model.json
  crates/recipe-stage0/tests/integration/common/mod.rs
  crates/recipe-stage0/tests/integration/common/model.rs
  crates/recipe-stage0/tests/integration/main.rs
  crates/recipe-stage0/tests/integration/project_model_test.rs
  crates/recipe-stage0/tests/integration/snapshots/integration__project_model_test__project_model_into_recipe.snap
Due: taplo

misc: remove commented code
  Cargo.toml
  crates/recipe-stage0/src/marked_yaml.rs
Due: taplo

misc: fix cargo clippy errors
  crates/pixi-build-rust/src/rust.rs
  crates/recipe-stage0/src/matchspec.rs
  crates/recipe-stage0/src/recipe.rs
Due: none

misc: fix clippy
  crates/recipe-stage0/tests/integration/project_model_test.rs
Due: none

feat: custom output dir
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

clippy
  crates/pixi-build-backend/src/tools.rs
Due: none

docs: add hosted page
  docs/assets/banner.svg
  docs/assets/logo_dark.svg
  docs/assets/pixi.png
  docs/assets/pixi.webp
  docs/index.md
  docs/overrides/home.html
  docs/overrides/partials/footer.html
  docs/overrides/partials/mycontent.html
  docs/stylesheets/extra.css
  mkdocs.yml
  pixi.lock
  pixi.toml
Due: check-yaml, taplo

Finish up home page
  docs/index.md
Due: none

Create first page for `pixi-build-cmake`
  docs/backends/pixi-build-cmake.md
  mkdocs.yml
Due: check-yaml

Finish up remaining doc pages
  docs/backends/pixi-build-python.md
  docs/backends/pixi-build-rattler-build.md
  docs/backends/pixi-build-rust.md
  mkdocs.yml
Due: check-yaml

Add deployment
  .github/workflows/docs.yml
Due: check-yaml, actionlint

Update docs/index.md
  docs/index.md
Due: none

Update docs/backends/pixi-build-rattler-build.md
  docs/backends/pixi-build-rattler-build.md
Due: none

Mention `preview`
  docs/backends/pixi-build-cmake.md
  docs/backends/pixi-build-python.md
  docs/backends/pixi-build-rattler-build.md
  docs/backends/pixi-build-rust.md
Due: none

fix: add python exe cmake arg when python in host deps
  crates/pixi-build-cmake/src/build_script.j2
  crates/pixi-build-cmake/src/build_script.rs
  crates/pixi-build-cmake/src/cmake.rs
Due: none

docs: add links
  docs/index.md
Due: none

fmt
  crates/pixi-build-cmake/src/cmake.rs
Due: none

docs: change configuration to list
  docs/backends/pixi-build-cmake.md
  docs/backends/pixi-build-python.md
  docs/backends/pixi-build-rattler-build.md
  docs/backends/pixi-build-rust.md
Due: none

docs: cmake flag precedence
  docs/backends/pixi-build-cmake.md
Due: none

docs: remove empty section
  docs/backends/pixi-build-rattler-build.md
Due: none

feat: specify input globs
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/src/config.rs
  crates/pixi-build-rust/src/protocol.rs
Due: none

Also add docs
  docs/backends/pixi-build-cmake.md
  docs/backends/pixi-build-python.md
  docs/backends/pixi-build-rattler-build.md
  docs/backends/pixi-build-rust.md
Due: none

Add tests
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/src/protocol.rs
Due: none

docs: add new cmake flag to the docs
  docs/backends/pixi-build-cmake.md
Due: none

feat: add intermediate backend
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/lib.rs
  crates/pixi-build-backend/src/rattler_build_integration.rs
  crates/pixi-build-backend/src/specs_conversion.rs
  crates/pixi-build-backend/tests/fixtures/minimal_project_model.json
  crates/pixi-build-backend/tests/fixtures/minimal_project_model_for_build.json
  crates/pixi-build-backend/tests/integration/common/mod.rs
  crates/pixi-build-backend/tests/integration/common/model.rs
  crates/pixi-build-backend/tests/integration/main.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-backend/tests/integration/snapshots/integration__conda_get_metadata__project_model_into_recipe.snap
  crates/pixi-build-backend/tests/integration/snapshots/integration__protocol__conda_build.snap.new
  crates/pixi-build-backend/tests/integration/snapshots/integration__protocol__project_model_into_recipe.snap.new
  crates/pixi-build-rust/src/rust.rs
  crates/recipe-stage0/Cargo.toml
  crates/recipe-stage0/src/lib.rs
  crates/recipe-stage0/src/marked_yaml.rs
  crates/recipe-stage0/src/matchspec.rs
  crates/recipe-stage0/src/recipe.rs
  crates/recipe-stage0/src/requirements.rs
  crates/recipe-stage0/tests/integration/project_model_test.rs
Due: taplo

misc: remove unncesary test
  crates/pixi-build-rust/src/rust.rs
  crates/recipe-stage0/Cargo.toml
Due: taplo
