Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run -e lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]

fix: add more docs
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
Due: none

remove into diagnostic
  crates/pixi-build/src/tools.rs
Due: none

return the whole report as message
  crates/pixi-build/Cargo.toml
  crates/pixi-build/src/server.rs
Due: taplo

use fancy-no-backtrace and run cargo update
  Cargo.lock
  crates/pixi-build/Cargo.toml
Due: taplo

feat: split python and rattler-build protocol into seperate files
  crates/pixi-build/src/bin/pixi-build-python/main.rs
  crates/pixi-build/src/bin/pixi-build-python/protocol.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/main.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/protocol.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/rattler_build.rs
Due: none

feat: more splitting and renaming of code
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/bin/pixi-build-cmake/main.rs
  crates/pixi-build/src/bin/pixi-build-cmake/protocol.rs
  crates/pixi-build/src/bin/pixi-build-python/main.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/main.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/protocol.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/rattler_build.rs
  crates/pixi-build/src/cli.rs
  crates/pixi-build/src/protocol.rs
  crates/pixi-build/src/server.rs
Due: none

fix: precommit
  crates/pixi-build/src/protocol.rs
Due: none

feat: fix docs
  crates/pixi-build/src/bin/pixi-build-rattler-build/protocol.rs
  crates/pixi-build/src/variants.rs
Due: none

fix: dont run on fork
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

fix: docs
  crates/pixi-build/src/bin/pixi-build-rattler-build/protocol.rs
Due: none

fix: wrong name
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

fix: incorrect quoting
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

Update .github/workflows/rattler-build.yml
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

feat: actually version backends
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

fix: interpolation
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

fix: checkout code
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

feat: fix uploading
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

fix: remove test function
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

feat: update descs
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

feat: on release on tag
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

feat: forward rattler build source errors
  Cargo.lock
  Cargo.toml
  crates/pixi-build/Cargo.toml
  crates/pixi-build/src/bin/pixi-build-rattler-build/rattler_build.rs
  crates/pixi-build/src/lib.rs
  crates/pixi-build/src/source.rs
  crates/pixi-build/src/tools.rs
Due: taplo

fmt
  crates/pixi-build/src/bin/pixi-build-rattler-build/rattler_build.rs
Due: none

fix: pre-commit
  crates/pixi-build/Cargo.toml
Due: taplo

chore: move to pixi main
  Cargo.lock
  Cargo.toml
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/bin/pixi-build-cmake/protocol.rs
  crates/pixi-build/src/bin/pixi-build-python/protocol.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
  crates/pixi-build/src/build_types_ext.rs
  crates/pixi-build/src/dependencies.rs
  crates/pixi-build/src/tools.rs
  crates/pixi-build/src/variants.rs
  pixi.lock
  pixi.toml
  rust-toolchain
Due: taplo

Fix clippy lints
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/dependencies.rs
Due: none

fix: protocol method names
  crates/pixi-build/src/bin/pixi-build-cmake/protocol.rs
  crates/pixi-build/src/bin/pixi-build-python/protocol.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/protocol.rs
  crates/pixi-build/src/cli.rs
  crates/pixi-build/src/protocol.rs
  crates/pixi-build/src/server.rs
Due: none

use input globs
  crates/pixi-build/src/bin/pixi-build-python/protocol.rs
Due: none

use the cmake configuration when building
  crates/pixi-build/src/bin/pixi-build-cmake/build_script.j2
  crates/pixi-build/src/bin/pixi-build-cmake/build_script.rs
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/bin/pixi-build-cmake/config.rs
Due: none

fix: editable override
  crates/pixi-build/src/bin/pixi-build-python/python.rs
Due: none

Bump version to 0.1.1
  Cargo.lock
  crates/pixi-build/Cargo.toml
Due: taplo

feat: testing backend
  crates/pixi-build/src/bin/pixi-build-testing/config.rs
  crates/pixi-build/src/bin/pixi-build-testing/main.rs
  crates/pixi-build/src/bin/pixi-build-testing/protocol.rs
  crates/pixi-build/src/bin/pixi-build-testing/testing.rs
Due: none

feat: adapt rattler-build-backend to allow debug logging
  crates/pixi-build/src/bin/pixi-build-rattler-build/config.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/main.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/protocol.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/rattler_build.rs
  crates/pixi-build/src/manifest_ext.rs
Due: none

update to latest development versions
  Cargo.lock
  Cargo.toml
  crates/pixi-build/Cargo.toml
  crates/pixi-build/src/bin/pixi-build-cmake/protocol.rs
  crates/pixi-build/src/bin/pixi-build-python/protocol.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/protocol.rs
  crates/pixi-build/src/cli.rs
  crates/pixi-build/src/manifest_ext.rs
Due: taplo

undo additional hash, but keep update
  Cargo.lock
  Cargo.toml
  crates/pixi-build/src/bin/pixi-build-cmake/protocol.rs
  crates/pixi-build/src/bin/pixi-build-python/protocol.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/protocol.rs
Due: taplo

update tests
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
  crates/pixi-build/src/manifest_ext.rs
Due: none

refactor: remove ManifestExt
  crates/pixi-build/src/lib.rs
  crates/pixi-build/src/manifest_ext.rs
Due: none

Continue
  Cargo.lock
  Cargo.toml
  crates/pixi-build/src/bin/pixi-build-rattler-build/protocol.rs
Due: taplo

Make the json pretty
  crates/pixi-build/src/bin/pixi-build-rattler-build/protocol.rs
Due: none
