Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run -e lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]

feat: add lint and format
  .github/workflows/ros-build.yml
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/pyproject.toml
Due: check-yaml, actionlint, taplo

chore: run and fix lint and format
  backends/pixi-build-ros/src/pixi_build_ros/build_script.py
  backends/pixi-build-ros/src/pixi_build_ros/distro.py
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  backends/pixi-build-ros/tests/conftest.py
  backends/pixi-build-ros/tests/test_package_xml.py
Due: none

feat: use lefthook
  .github/workflows/python-bindings.yml
  .github/workflows/ros-build.yml
  lefthook.yaml
Due: check-yaml, actionlint

feat: minimize envs
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/src/pixi_build_ros/distro.py
  lefthook.yaml
Due: check-yaml, taplo

feat: add back quiet
  lefthook.yaml
Due: check-yaml

fix: correctly run pixi
  lefthook.yaml
Due: check-yaml

fix: mypy and clippy in CI
  .github/workflows/python-bindings.yml
  .github/workflows/ros-build.yml
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
  lefthook.yaml
  py-pixi-build-backend/pixi_build_backend/types/__init__.py
  py-pixi-build-backend/pixi_build_backend/types/generated_recipe.py
  py-pixi-build-backend/pixi_build_backend/types/intermediate_recipe.py
  py-pixi-build-backend/pixi_build_backend/types/metadata_provider.py
  py-pixi-build-backend/src/recipe_stage0/conditional.rs
  py-pixi-build-backend/src/types/config.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
  py-pixi-build-backend/src/types/metadata_provider.rs
  py-pixi-build-backend/src/types/project_model.rs
  py-pixi-build-backend/tests/unit/test_project_model.py
Due: check-yaml, actionlint, taplo

fix: move mypy task
  backends/pixi-build-ros/pixi.toml
Due: taplo

fix: added dependencies
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  backends/pixi-build-ros/tests/data/package_xmls/version_constraints.xml
  backends/pixi-build-ros/tests/data/package_xmls/version_constraints_wrong.xml
  backends/pixi-build-ros/tests/test_version_constraints.py
Due: none

feat: simplify version handling
  backends/pixi-build-ros/pyproject.toml
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
Due: taplo

feat: allow to set mutex version
  backends/pixi-build-ros/src/pixi_build_ros/distro.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/tests/data/package_xmls/version_constraints_double_package_map_entry.xml
  backends/pixi-build-ros/tests/test_version_constraints.py
Due: none

feat: add some features to the meta data provider
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/tests/data/package_xmls/custom_ros.xml
  backends/pixi-build-ros/tests/test_meta_data_provider.py
Due: none

fix: input globs
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
Due: none

chore: review comments
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  backends/pixi-build-ros/tests/__snapshots__/test_version_constraints.ambr
  backends/pixi-build-ros/tests/data/package_xmls/version_constraints.xml
  backends/pixi-build-ros/tests/data/package_xmls/version_constraints_double_package_map_entry.xml
  backends/pixi-build-ros/tests/test_meta_data_provider.py
  backends/pixi-build-ros/tests/test_version_constraints.py
Due: taplo

fix: merge specs
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/tests/__snapshots__/test_version_constraints.ambr
  backends/pixi-build-ros/tests/data/package_xmls/version_constraints.xml
  backends/pixi-build-ros/tests/test_spec_merging.py
  backends/pixi-build-ros/tests/test_version_constraints.py
Due: none

fix: added more version checks
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  backends/pixi-build-ros/tests/__snapshots__/test_version_constraints.ambr
  backends/pixi-build-ros/tests/data/package_xmls/version_constraints.xml
  backends/pixi-build-ros/tests/test_version_constraints.py
Due: taplo

feat: re-use distro in tests
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/tests/__snapshots__/test_package_xml.ambr
  backends/pixi-build-ros/tests/conftest.py
  backends/pixi-build-ros/tests/test_distro.py
  backends/pixi-build-ros/tests/test_package_map.py
  backends/pixi-build-ros/tests/test_package_xml.py
  backends/pixi-build-ros/tests/test_version_constraints.py
Due: none

fix: simplify test
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  backends/pixi-build-ros/tests/data/package_xmls/version_constraints_double_package_map_entry.xml
  backends/pixi-build-ros/tests/test_package_xml.py
  backends/pixi-build-ros/tests/test_version_constraints.py
Due: none

fix: new lockfile after rebase
  backends/pixi-build-ros/pixi.lock
Due: none

fix: move syrupy dep to correct spot
  backends/pixi-build-ros/pixi.toml
Due: taplo

bump: versions rattler-build and ros backend
  Cargo.lock
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pyproject.toml
  crates/pixi-build-rattler-build/Cargo.toml
Due: taplo

bump: pixi-build-ros
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
Due: taplo

fix: input globs
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
Due: none

fix: added more version checks
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  backends/pixi-build-ros/tests/__snapshots__/test_version_constraints.ambr
  backends/pixi-build-ros/tests/data/package_xmls/version_constraints.xml
  backends/pixi-build-ros/tests/test_version_constraints.py
Due: taplo

fix: update lockfile
  backends/pixi-build-ros/pixi.lock
Due: none

fix: rebase issues
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/src/pixi_build_ros/config.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
Due: none

fix: Skip TODO license
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
Due: none

refactor: default to `ros-<distro>-` prefixed names.
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
Due: none

test: get ros-distro prefix in tests and make them platform independent
  backends/pixi-build-ros/tests/__snapshots__/test_package_xml.ambr
  backends/pixi-build-ros/tests/__snapshots__/test_version_constraints.ambr
  backends/pixi-build-ros/tests/test_package_xml.py
  backends/pixi-build-ros/tests/test_version_constraints.py
Due: none

test: multi package non ros support
  backends/pixi-build-ros/tests/__snapshots__/test_package_xml.ambr
  backends/pixi-build-ros/tests/data/other_package_map.yaml
  backends/pixi-build-ros/tests/data/package_xmls/custom_ros.xml
  backends/pixi-build-ros/tests/test_package_map.py
Due: check-yaml
