Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run -e lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]

Rename renovate json
  renovate.json5
Due: none

Use target platform for name
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

Update generate-version-matrix
  scripts/generate-version-matrix.py
Due: none

Another reorder
  scripts/generate-version-matrix.py
Due: none

Rename jobs
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

Update artifact name
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

Update matrix script
  .github/workflows/build-upload.yml
  pixi.toml
  scripts/generate-matrix.py
Due: check-yaml, actionlint, taplo

Aggregate per target
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

Temporary simplification to test things
  .github/workflows/build-upload.yml
  scripts/generate-matrix.py
Due: check-yaml, actionlint

Checkout repo
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

Revert "Temporary simplification to test things"
  .github/workflows/build-upload.yml
  scripts/generate-matrix.py
Due: check-yaml, actionlint

Don't run on pull requests
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

ci: update renovate config
  renovate.json5
Due: none

chore: pin patchelf
  pixi.lock
  pixi.toml
Due: taplo

bump: pixi-build-rattler-build
  Cargo.lock
  RELEASE.md
  crates/pixi-build-rattler-build/Cargo.toml
Due: taplo

fix: upload
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

ci: upload binaries
  .github/workflows/lint-test.yml
Due: check-yaml, actionlint

Fix strings and exclude some files
  .github/workflows/lint-test.yml
Due: check-yaml, actionlint

Rename workflow to Rust
  .github/workflows/rust.yml
Due: check-yaml, actionlint

Set target dir for all operating systems
  pixi.toml
  scripts/activate.sh
Due: taplo

chore: pin patchelf
  pixi.toml
Due: taplo

Update lockfile
  pixi.lock
Due: none

ci: testsuite
  .github/workflows/rust.yml
  .github/workflows/setup-dev-drive.ps1
  .github/workflows/testsuite.yml
Due: check-yaml, actionlint

Create dev drive
  .github/workflows/testsuite.yml
Due: check-yaml, actionlint

Update job name
  .github/workflows/testsuite.yml
Due: check-yaml, actionlint

Adapt the artifact names
  .github/workflows/testsuite.yml
Due: check-yaml, actionlint

Run testsuite
  .github/workflows/testsuite.yml
Due: check-yaml, actionlint

Split into separate steps
  .github/workflows/testsuite.yml
Due: check-yaml, actionlint

Set up permissions for all binaries
  .github/workflows/testsuite.yml
Due: check-yaml, actionlint

Rename
  .github/workflows/testsuite.yml
Due: check-yaml, actionlint

feat: bump to vs2019
  crates/pixi-build-backend/src/compilers.rs
Due: none

docs: add rust backend to README
  README.md
Due: none

chore: add schema annotation
  recipe/pixi-build-cmake.yaml
  recipe/pixi-build-python.yaml
  recipe/pixi-build-rattler-build.yaml
  recipe/pixi-build-rust.yaml
Due: check-yaml

feat: add pixi-build-interface package
  recipe/pixi-build-interface.yaml
Due: check-yaml

Add run dependency
  recipe/pixi-build-cmake.yaml
  recipe/pixi-build-python.yaml
  recipe/pixi-build-rattler-build.yaml
  recipe/pixi-build-rust.yaml
Due: check-yaml

Remove whitespace
  recipe/pixi-build-cmake.yaml
  recipe/pixi-build-python.yaml
  recipe/pixi-build-rattler-build.yaml
  recipe/pixi-build-rust.yaml
Due: check-yaml

Set back to 0
  recipe/pixi-build-interface.yaml
Due: check-yaml

Rename `pixi-build-interface` to `pixi-build-mutex`
  recipe/pixi-build-mutex.yaml
Due: check-yaml

chore: rename `pixi-build-mutex` to `pixi-build-api-version`
  recipe/pixi-build-api-version.yaml
Due: check-yaml

Rename to pixi-build-api-version
  recipe/pixi-build-api-version.yaml
Due: check-yaml
