Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

update python bindings and ros backend
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/tests/test_package_map.py
  backends/pixi-build-ros/tests/test_package_xml.py
  backends/pixi-build-ros/tests/test_version_constraints.py
  pixi.lock
  pixi.toml
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/python_generator.py
  py-pixi-build-backend/pixi_build_backend/types/generated_recipe.py
  py-pixi-build-backend/pixi_build_backend/types/project_model.py
  py-pixi-build-backend/src/lib.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
  py-pixi-build-backend/src/types/mod.rs
  py-pixi-build-backend/src/types/project_model.rs
  py-pixi-build-backend/tests/unit/test_generated_recipe.py
  py-pixi-build-backend/tests/unit/test_project_model.py
  recipe/testsuite-backends/recipe.yaml
Due: check-yaml, taplo

fix: tests
  crates/pixi-build-backend/src/utils/test.rs
  crates/pixi-build-backend/tests/integration/common/model.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs@pin-subpackage-variants__recipe.yaml.snap
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs@pin-subpackage__recipe.yaml.snap
  crates/pixi-build-rust/src/main.rs
Due: none

refactor: update to api-version 4
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/encoded_source_spec_url.rs
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/server.rs
  crates/pixi-build-backend/src/specs_conversion.rs
  crates/pixi-build-backend/src/traits/package_spec.rs
  crates/pixi-build-backend/src/traits/project.rs
  crates/pixi-build-backend/src/traits/targets.rs
  crates/pixi-build-backend/src/utils/test.rs
  crates/pixi-build-backend/src/variants.rs
  crates/pixi-build-backend/tests/integration/common/model.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rattler-build/src/rattler_build.rs
  crates/pixi-build-rust/src/main.rs
  recipe/pixi-build-api-version/recipe.yaml
  recipe/pixi-build-cmake/recipe.yaml
  recipe/pixi-build-mojo/recipe.yaml
  recipe/pixi-build-python/recipe.yaml
  recipe/pixi-build-rattler-build/recipe.yaml
  recipe/pixi-build-rust/recipe.yaml
  recipe/py-pixi-build-backend/recipe.yaml
  recipe/testsuite-backends/recipe.yaml
  schema/model.py
  schema/schema.json
Due: check-yaml, taplo

fix: pytest snapshots
  py-pixi-build-backend/tests/unit/__snapshots__/test_project_model.ambr
Due: none

fix dchecks
  backends/pixi-build-ros/pixi.toml
  crates/pixi-build-backend/src/generated_recipe.rs
  py-pixi-build-backend/pixi.lock
  py-pixi-build-backend/pixi_build_backend/types/generated_recipe.py
  py-pixi-build-backend/src/error.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
  py-pixi-build-backend/src/types/project_model.rs
  recipe/testsuite-backends/recipe.yaml
Due: check-yaml, taplo

update py-pixi-backend lock-file
  py-pixi-build-backend/Cargo.lock
Due: none

update versions
  Cargo.lock
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-cmake/pixi.toml
  crates/pixi-build-mojo/Cargo.toml
  crates/pixi-build-mojo/pixi.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/pixi.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rattler-build/pixi.toml
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/pixi.toml
  crates/recipe-stage0/Cargo.toml
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi.toml
Due: taplo

fix: better error messages
  backends/pixi-build-ros/pixi.lock
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/src/error.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: taplo

fix: recipes for osx for py-pixi-build-backend
  recipe/pixi-build-ros/recipe.yaml
  recipe/py-pixi-build-backend/recipe.yaml
  recipe/testsuite-backends/recipe.yaml
  recipe/variants.yaml
Due: check-yaml

fix: use unambigous python min specifier
  recipe/py-pixi-build-backend/recipe.yaml
Due: check-yaml

fix: correct build string in rattler-build-backend
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs@custom-build-string__recipe.yaml.snap
  tests/recipe/custom-build-string/recipe.yaml
Due: check-yaml

fix: correct build string in rattler-build-backend (#528)
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs@custom-build-string__recipe.yaml.snap
  tests/recipe/custom-build-string/recipe.yaml
Due: check-yaml

bump: pixi-build-ros 0.3.3
  backends/pixi-build-ros/pyproject.toml
Due: taplo

bump: set lower bound
  recipe/pixi-build-ros/recipe.yaml
Due: check-yaml

fix: add proper bounds to pixi-ros-backend
  recipe/pixi-build-ros/recipe.yaml
Due: check-yaml

fix: add proper bounds to pixi-ros-backend (#537)
  recipe/pixi-build-ros/recipe.yaml
Due: check-yaml

Add recipe_yaml configuration option for pixi-build-rattler-build
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rattler-build/src/rattler_build.rs
  docs/backends/pixi-build-rattler-build.md
Due: none

fix variant finding
  crates/pixi-build-backend/src/tools.rs
Due: none

fix: adjust license file paths for subdirectory manifests
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

fix license handling to return None for "file LICENSE" cases
  crates/pixi-build-r/src/metadata.rs
Due: none

fix: use YAML list for license_file instead of comma-separated string
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/recipe-stage0/src/marked_yaml.rs
  crates/recipe-stage0/src/recipe.rs
  crates/recipe-stage0/src/snapshots/recipe_stage0__recipe__tests__recipe_to_yaml.snap
Due: none

misc: update lockfile
  backends/pixi-build-ros/pixi.lock
Due: none

turn multiple license files into a list and use absolute paths in python
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__tests__cxx_is_in_build_requirements.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__tests__cxx_is_not_added_if_gcc_is_already_present.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__compiler_is_in_build_requirements.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__compiler_is_not_added_if_compiler_is_already_present.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_bin_is_set.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_pkg_is_set.snap
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-python/src/snapshots/pixi_build_python__metadata__tests__generated_recipe_contains_pyproject_values.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__pip_is_in_host_requirements.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__python_is_not_added_if_already_present.snap
  crates/pixi-build-rust/src/metadata.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_in_build_requirements.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_not_added_if_already_present.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__sccache_is_enabled.snap
  crates/recipe-stage0/src/recipe.rs
  py-pixi-build-backend/pixi_build_backend/types/metadata_provider.py
  py-pixi-build-backend/src/types/metadata_provider.rs
Due: none

pass in absolute license paths
  crates/pixi-build-python/src/metadata.rs
Due: none

misc: fix tests
  py-pixi-build-backend/tests/data/boltons_recipe.yaml
  py-pixi-build-backend/tests/unit/__snapshots__/test_intermediate_recipe.ambr
Due: check-yaml

misc: update cargo lock
  Cargo.lock
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

misc: update cargo.lock for bindings
  py-pixi-build-backend/Cargo.lock
Due: none

fix: adjust license file paths for subdirectory manifests (#538)
  Cargo.lock
  backends/pixi-build-ros/pixi.lock
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/recipe-stage0/src/marked_yaml.rs
  crates/recipe-stage0/src/recipe.rs
  crates/recipe-stage0/src/snapshots/recipe_stage0__recipe__tests__recipe_to_yaml.snap
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/tests/data/boltons_recipe.yaml
  py-pixi-build-backend/tests/unit/__snapshots__/test_intermediate_recipe.ambr
Due: check-yaml

release: fix for license file
  Cargo.lock
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-mojo/Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rust/Cargo.toml
  crates/recipe-stage0/Cargo.toml
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi.toml
Due: taplo

misc: update cargo.lock and pixi.lock
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pyproject.toml
  py-pixi-build-backend/Cargo.lock
Due: taplo

release: fix for license file (#541)
  Cargo.lock
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pyproject.toml
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-mojo/Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rust/Cargo.toml
  crates/recipe-stage0/Cargo.toml
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi.toml
Due: taplo

docs: mention that repo has moved
  README.md
Due: none

docs: mention that repo has moved (#548)
  README.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  taplo: any of: \.toml$, but not: (^.pixi/|.snap)
