Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

misc: use indexmap for correct order of insertions
  crates/pixi-build-rust/src/rust.rs
  crates/recipe-stage0/src/recipe.rs
  crates/recipe-stage0/src/snapshots/recipe_stage0__recipe__tests__recipe_to_yaml.snap
Due: none

Resolve merge conflits
  Cargo.lock
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/rattler_build_integration.rs
  crates/pixi-build-backend/src/specs_conversion.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-backend/tests/integration/snapshots/integration__protocol__conda_build.snap.new
  crates/pixi-build-backend/tests/integration/snapshots/integration__protocol__conda_get_metadata.snap
  crates/pixi-build-rust/src/rust.rs
  crates/recipe-stage0/src/recipe.rs
  crates/recipe-stage0/src/requirements.rs
  crates/recipe-stage0/tests/fixtures/minimal_project_model.json
  crates/recipe-stage0/tests/integration/common/mod.rs
  crates/recipe-stage0/tests/integration/common/model.rs
  crates/recipe-stage0/tests/integration/main.rs
  crates/recipe-stage0/tests/integration/project_model_test.rs
  crates/recipe-stage0/tests/integration/snapshots/integration__project_model_test__project_model_into_recipe.snap
Due: taplo

misc: remove commented version
  Cargo.toml
Due: taplo

chore: update pixi types
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/protocol.rs
  crates/pixi-build-backend/src/traits/package_spec.rs
  crates/pixi-build-backend/src/variants.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/src/protocol.rs
  crates/recipe-stage0/Cargo.toml
  crates/recipe-stage0/src/recipe.rs
  crates/recipe-stage0/tests/integration/common/model.rs
Due: taplo

misc: fix snapshot
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/tests/integration/snapshots/integration__protocol__conda_build.snap
  crates/pixi-build-backend/tests/integration/snapshots/integration__protocol__conda_get_metadata.snap
Due: none

misc: calculate variant combiations
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

outputs for cmake
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/server.rs
  crates/pixi-build-cmake/src/protocol.rs
Due: taplo

misc: add code responsible for finding variants
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/recipe-stage0/src/matchspec.rs
  crates/recipe-stage0/src/recipe.rs
  crates/recipe-stage0/src/requirements.rs
Due: none

misc: add code responsible for finding variants
  crates/recipe-stage0/src/requirements.rs
Due: none

misc: fix base channel
  crates/pixi-build-backend/tests/integration/protocol.rs
Due: none

misc: remove unwraps
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/rattler_build_integration.rs
  crates/pixi-build-backend/src/specs_conversion.rs
Due: none

misc: update snapshost
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-backend/tests/integration/snapshots/integration__protocol__conda_build.snap
  crates/pixi-build-backend/tests/integration/snapshots/integration__protocol__conda_get_metadata.snap
Due: none

python too
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/protocol.rs
  crates/pixi-build-backend/src/server.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-rust/src/protocol.rs
  crates/pixi-build-rust/src/rust.rs
  crates/recipe-stage0/src/recipe.rs
Due: none

misc: fix the snapshot
  crates/pixi-build-backend/tests/fixtures/minimal_project_model.json
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-backend/tests/integration/snapshots/integration__protocol__conda_get_metadata.snap
Due: none

feat: rattler-build support and variants
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rattler-build/src/rattler_build.rs
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs.snap
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs@boltons__recipe.yaml.snap
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs@pin-subpackage__recipe.yaml.snap
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs@sub_packages__recipe.yaml.snap
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs@variants__recipe.yaml.snap
  crates/pixi-build-rust/src/protocol.rs
  tests/recipe/pin-subpackage/recipe.yaml
  tests/recipe/pin-subpackage/variants.yaml
  tests/recipe/variants/recipe.yaml
  tests/recipe/variants/variants.yaml
Due: check-yaml, taplo

fix(rattler-build): error if dependencies supplied in manifest
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

docs(rattler-build): clarify it doesn't work with manifest dependencies
  docs/backends/pixi-build-rattler-build.md
Due: none

chore: gitignore docs build dir
  .gitignore
Due: none

fix: rattler-build has provides-conda-outputs enabled
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

feat: depend on fork of pixi
  Cargo.lock
  Cargo.toml
Due: taplo

fix: pre-commit
  Cargo.toml
Due: taplo

fix most tests
  Cargo.lock
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rattler-build/src/protocol.rs
Due: taplo

fix: tests
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs@pin-subpackage-variants__recipe.yaml.snap
  crates/pixi-build-rust/src/protocol.rs
  tests/recipe/pin-subpackage-variants/recipe.yaml
  tests/recipe/pin-subpackage-variants/variants.yaml
Due: check-yaml

Style changes
  crates/pixi-build-rattler-build/Cargo.toml
Due: taplo

Handle more cases
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

lint
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

misc: implement rust backend with IR
  crates/pixi-build-backend/src/compilers.rs
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-rust/src/config.rs
  crates/pixi-build-rust/src/main.rs
  crates/pixi-build-rust/src/protocol.rs
  crates/recipe-stage0/src/requirements.rs
Due: none

misc: remove some commented code
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

misc: use macro to generate snapshots
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-rust/src/main.rs
  crates/pixi-build-rust/src/rust.rs
  crates/recipe-stage0/src/recipe.rs
Due: none

misc: update snapshost
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__rust__tests__rust_is_in_build_requirements.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__env_vars_are_set.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_in_build_requirements.snap
Due: none

misc: update snapshots
  crates/recipe-stage0/src/snapshots/recipe_stage0__recipe__tests__recipe_to_yaml.snap
Due: none

ci: add timeout to more jobs
  .github/workflows/rust.yml
  .github/workflows/testsuite.yml
Due: check-yaml, actionlint

misc: update tests for compiler function
  crates/pixi-build-backend/src/compilers.rs
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/snapshots/pixi_build_backend__compilers__tests__compiler_requirements_c.snap
  crates/pixi-build-backend/src/snapshots/pixi_build_backend__compilers__tests__compiler_requirements_cxx.snap
  crates/pixi-build-backend/src/snapshots/pixi_build_backend__compilers__tests__compiler_requirements_fortran.snap
  crates/pixi-build-backend/src/snapshots/pixi_build_backend__compilers__tests__compiler_requirements_python.snap
  crates/pixi-build-backend/src/snapshots/pixi_build_backend__compilers__tests__compiler_requirements_rust.snap
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-rust/src/main.rs
Due: none

misc: check that rust is in requirements
  crates/pixi-build-rust/src/main.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_in_build_requirements.snap
  crates/recipe-stage0/src/recipe.rs
Due: none

misc: add sccache
  crates/pixi-build-rust/src/main.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__sccache_is_enabled.snap
Due: none

misc: update snapshots
  crates/pixi-build-backend/src/compilers.rs
  crates/pixi-build-backend/src/snapshots/pixi_build_backend__compilers__tests__compiler_requirements_c.snap
  crates/pixi-build-backend/src/snapshots/pixi_build_backend__compilers__tests__compiler_requirements_cxx.snap
  crates/pixi-build-backend/src/snapshots/pixi_build_backend__compilers__tests__compiler_requirements_fortran.snap
  crates/pixi-build-backend/src/snapshots/pixi_build_backend__compilers__tests__compiler_requirements_python.snap
  crates/pixi-build-backend/src/snapshots/pixi_build_backend__compilers__tests__compiler_requirements_rust.snap
  crates/pixi-build-rust/src/main.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__env_vars_are_set.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_in_build_requirements.snap
  crates/recipe-stage0/src/matchspec.rs
  crates/recipe-stage0/src/recipe.rs
Due: none

misc: verify that sscache is added
  crates/pixi-build-rust/src/main.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__env_vars_are_set.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_not_added_if_already_present.snap
  crates/recipe-stage0/src/recipe.rs
Due: none

misc: fix snapshot
  crates/recipe-stage0/src/snapshots/recipe_stage0__recipe__tests__recipe_to_yaml.snap
Due: none

chore(ci): Increase timout
  .github/workflows/testsuite.yml
Due: check-yaml, actionlint

chore: remove pixi lock file
  crates/pixi-build-rust/pixi.lock
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  taplo: any of: \.toml$, but not: (^.pixi/|.snap)
