Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

docs: fix typo
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

fix: deal with broken package.xmls
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
  backends/pixi-build-ros/tests/data/package_xmls/broken.xml
  backends/pixi-build-ros/tests/test_meta_data_provider.py
Due: taplo

fix: pixi lock
  backends/pixi-build-ros/pixi.lock
Due: none

ci: add ros backend to build-upload workflow
  .github/workflows/build-upload.yml
  scripts/generate-matrix.py
Due: check-yaml, actionlint

fix: remove duplicate metadata
  backends/pixi-build-ros/pixi.toml
Due: taplo

reset ros build nr to 0
  recipe/pixi-build-ros/recipe.yaml
Due: check-yaml

fix: add pyrattler
  recipe/pixi-build-ros/recipe.yaml
Due: check-yaml

fix: package_name input fix/debug
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

fix: add pydantic to ros backend recipe
  recipe/pixi-build-ros/recipe.yaml
Due: check-yaml

fix: ros backend lock
  backends/pixi-build-ros/pixi.lock
Due: none

chore: improve pixi config ros
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
Due: taplo

chore: error on clippy warnings
  .github/workflows/python-bindings.yml
  py-pixi-build-backend/pixi.toml
Due: check-yaml, actionlint, taplo

fix: config usage
  backends/pixi-build-ros/src/pixi_build_ros/config.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
Due: none

misc: package map test changes
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  backends/pixi-build-ros/tests/data/other_package_map.yaml
  backends/pixi-build-ros/tests/test_package_map.py
Due: check-yaml

docs: add the mapping logic to the documentation
  docs/backends/pixi-build-ros.md
Due: none

docs: use simplified version of the mapping structure
  backends/pixi-build-ros/tests/test_package_map.py
  docs/backends/pixi-build-ros.md
Due: none

bump: pixi-build-ros version
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pyproject.toml
Due: taplo

refactor: cleanup build scripts, removing old commands and make them faster
  backends/pixi-build-ros/src/pixi_build_ros/build_script.py
  backends/pixi-build-ros/templates/bld_ament_cmake.bat
  backends/pixi-build-ros/templates/build_ament_cmake.sh
  backends/pixi-build-ros/templates/build_ament_python.sh
Due: none

feat: support variant files
  .gitignore
  Cargo.lock
  Cargo.toml
  pixi.lock
  pixi.toml
  rust-toolchain
Due: taplo

Adapt error messages
  crates/pixi-build-backend/src/dependencies.rs
Due: none

Adapt to rattler-build breaking changes
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/rattler_build_integration.rs
Due: none

Update rattler-build
  Cargo.lock
  Cargo.toml
Due: taplo

fix: if a spec is source, don't merge but force the source
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/tests/test_spec_merging.py
Due: none

proto: try to build a pixi backend
  Cargo.lock
  crates/pixi-build-pixi/Cargo.toml
  crates/pixi-build-pixi/pixi.toml
  crates/pixi-build-pixi/src/build_script.rs
  crates/pixi-build-pixi/src/config.rs
  crates/pixi-build-pixi/src/main.rs
  pixi.toml
Due: taplo

fix: remove non important input globs
  crates/pixi-build-python/src/main.rs
Due: none

fix: tests
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__input_globs_includes_extra_globs.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__input_globs_includes_extra_globs_editable.snap
Due: none

misc: add cargo insta
  pixi.lock
  pixi.toml
Due: taplo

fix: mypy warning
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
Due: none

misc: add compiler based globs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__c_compilers_create_extra_input_globs.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__cxx_compilers_create_extra_input_globs.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__rust_compilers_create_extra_input_globs.snap
Due: none

Add implementation and tests
  Cargo.lock
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-backend/src/utils/test.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

Update patch
  Cargo.lock
  Cargo.toml
Due: taplo

Update lock file
  py-pixi-build-backend/Cargo.lock
Due: none

fix: update Rust and fix clippy lints
  pixi.lock
  pixi.toml
  rust-toolchain
Due: taplo

Fix clippy lints
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/compilers.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-backend/tests/integration/common/model.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/src/main.rs
  crates/pixi-build-rust/src/metadata.rs
  crates/recipe-stage0/src/matchspec.rs
  crates/recipe-stage0/src/recipe.rs
Due: none

Update Rust for `py-pixi-build-backend`
  py-pixi-build-backend/pixi.lock
  py-pixi-build-backend/pixi.toml
Due: taplo

fix: cleanup and add test
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  backends/pixi-build-ros/tests/test_spec_merging.py
Due: none

misc: improve dev UX as `pixi-build` didn't give the right ux for development
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/pyproject.toml
Due: taplo

fix: clippy lints py-pixi-build-backend
  py-pixi-build-backend/src/recipe_stage0/conditional_requirements.rs
  py-pixi-build-backend/src/recipe_stage0/recipe.rs
  py-pixi-build-backend/src/recipe_stage0/requirements.rs
  py-pixi-build-backend/src/types/platform.rs
Due: none

Update lock file
  backends/pixi-build-ros/pixi.lock
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  taplo: any of: \.toml$, but not: (^.pixi/|.snap)
