Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fix: bump Cargo.toml pixi-build-rust
  Cargo.lock
  crates/pixi-build-rust/Cargo.toml
Due: taplo

misc: remove cargo install
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: dry run publishing
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

fix: set correct env variable
  .github/workflows/rattler-build.yml
  scripts/generate_version_matrix.py
Due: check-yaml, actionlint

misc: add back commented stuff
  .github/workflows/rattler-build.yml
  scripts/generate_version_matrix.py
Due: check-yaml, actionlint

misc: fix folder location
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: rename to crate name
  .github/workflows/rattler-build.yml
  crates/pixi-build-rust/src/rust.rs
  scripts/generate_version_matrix.py
Due: check-yaml, actionlint

misc: use current platform as build platform to solve
  .github/workflows/rattler-build.yml
  crates/pixi-build-rust/src/rust.rs
  pixi.toml
Due: check-yaml, actionlint, taplo

misc: fix build platform vpkgs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-rust/src/protocol.rs
Due: none

misc: add xz
  crates/pixi-build-cmake/pixi.toml
Due: taplo

misc: add xz to build dependencies of cmake
  crates/pixi-build-cmake/pixi.toml
Due: taplo

fix: use target_platform
  crates/pixi-build-rust/src/rust.rs
Due: none

misc: remove xz
  crates/pixi-build-cmake/pixi.toml
Due: taplo

misc: remove recipes
  pixi.toml
  recipe/pixi_build_cmake.yaml
  recipe/pixi_build_python.yaml
  recipe/pixi_build_rattler_build.yaml
  recipe/pixi_build_rust.yaml
Due: check-yaml, taplo

misc: use host platform for cmake backend
  .github/workflows/rattler-build.yml
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-rust/src/rust.rs
Due: check-yaml, actionlint

misc: change platform
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
Due: none

misc: set long paths for window
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: modify cargo config to use system git
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: change how we create file
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: set net.git-fetch-with-cli=true
  crates/pixi-build-rust/src/build_script.j2
Due: none

misc: setup git again
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: use pixi with a fix
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: set cache dir
  pixi.toml
Due: taplo

misc: install pixi from scratch
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: use latest pixi release
  .github/workflows/rattler-build.yml
  crates/pixi-build-rust/src/build_script.j2
Due: check-yaml, actionlint

misc: run all backends
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: use correct argument
  pixi.toml
Due: taplo

misc: remove setting long paths on widnows
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

fix: use correct build and host platform
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-rust/src/protocol.rs
Due: none

misc: fmt the code
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-rust/src/protocol.rs
Due: none

misc: remove conda metadata for python
  crates/pixi-build-python/src/protocol.rs
Due: none

misc: remove conda metadata for python
  crates/pixi-build-rust/src/protocol.rs
Due: none

fix: add scripts for python recipe
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__scripts_are_respected.snap
Due: none

misc: return nice
  crates/pixi-build-python/src/python.rs
Due: none

misc: simplify branching
  crates/pixi-build-python/src/python.rs
Due: none

feat: magical sccache behavior
  crates/pixi-build-rust/src/build_script.j2
  crates/pixi-build-rust/src/build_script.rs
  crates/pixi-build-rust/src/rust.rs
Due: none

improve
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-rust/src/build_script.j2
  crates/pixi-build-rust/src/rust.rs
Due: none

add magic sccache integration for cmake
  crates/pixi-build-cmake/src/build_script.j2
  crates/pixi-build-cmake/src/build_script.rs
  crates/pixi-build-cmake/src/cmake.rs
Due: none

pre-commit
  crates/pixi-build-rust/src/build_script.j2
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  taplo: any of: \.toml$, but not: (^.pixi/|.snap)
