Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

Update all versions
  Cargo.lock
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-cmake/pixi.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/pixi.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rattler-build/pixi.toml
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/pixi.toml
Due: taplo

fix: rattler-build backend globs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

Fix behavior and refactor input glob function
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

Add many more tests
  Cargo.lock
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rattler-build/src/protocol.rs
Due: taplo

Bump `pixi-build-rattler-build` to 0.1.8
  Cargo.lock
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rattler-build/pixi.toml
Due: taplo

fix: relative source paths `pixi-build-rattler-build`
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

Skip the code in a better way
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

bump: pixi build rattler build
  Cargo.lock
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rattler-build/pixi.toml
Due: taplo

fix: compute relative path for source dirs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

Bump rattler-build to 0.1.10
  Cargo.lock
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rattler-build/pixi.toml
Due: taplo

fix: pixi-build-rattler-build globs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rattler-build/src/rattler_build.rs
Due: none

fix: use default linker on osx-64
  pixi.toml
  scripts/default_linker_osx_64.sh
Due: taplo

Clippy lint
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

bump: version numbers
  Cargo.lock
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-cmake/pixi.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/pixi.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rattler-build/pixi.toml
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/pixi.toml
Due: taplo

Stop pinning backends
  crates/pixi-build-cmake/pixi.toml
  crates/pixi-build-python/pixi.toml
  crates/pixi-build-rattler-build/pixi.toml
  crates/pixi-build-rust/pixi.toml
Due: taplo

Revert "fix: use default linker on osx-64 (#160)"
  pixi.toml
  scripts/default_linker_osx_64.sh
Due: taplo

fix: unset linker on osx-64 and move to rattler-build recipes
  .github/workflows/rattler-build.yml
  crates/pixi-build-cmake/pixi.toml
  crates/pixi-build-python/pixi.toml
  crates/pixi-build-rattler-build/pixi.toml
  crates/pixi-build-rust/pixi.toml
  pixi.toml
  recipe/pixi-build-cmake.yaml
  recipe/pixi-build-python.yaml
  recipe/pixi-build-rattler-build.yaml
  recipe/pixi-build-rust.yaml
Due: check-yaml, actionlint, taplo

Also run on pull request
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

Remove zlib again
  recipe/pixi-build-rust.yaml
Due: check-yaml

Don't run on pull requests
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

Fix dependencies in recipe and manifest
  .gitignore
  pixi.lock
  pixi.toml
  recipe/pixi-build-cmake.yaml
  recipe/pixi-build-python.yaml
  recipe/pixi-build-rattler-build.yaml
  recipe/pixi-build-rust.yaml
  scripts/activate.sh
Due: check-yaml, taplo

Also run for pull requests
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

Rename job
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

Add a more useful task to run things locally
  .github/workflows/rattler-build.yml
  pixi.toml
Due: check-yaml, actionlint, taplo

Remove unneeded dependency
  pixi.lock
  pixi.toml
Due: taplo

Add a comment
  recipe/pixi-build-cmake.yaml
  recipe/pixi-build-python.yaml
  recipe/pixi-build-rattler-build.yaml
  recipe/pixi-build-rust.yaml
Due: check-yaml

bump version numbers
  Cargo.lock
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rust/Cargo.toml
Due: taplo

filter outputs when building
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

ci: move to build with Pixi
  .github/workflows/rust-compile.yml
  .github/workflows/rust.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  pixi.lock
  pixi.toml
  scripts/activate.sh
Due: check-yaml, actionlint, taplo

Fix task name
  .github/workflows/rust.yml
Due: check-yaml, actionlint

Add release env again
  pixi.lock
  pixi.toml
Due: taplo

Fix typo
  .github/workflows/rust.yml
Due: check-yaml, actionlint

update code
  Cargo.lock
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

Add cargo nextest
  pixi.lock
  pixi.toml
Due: taplo

Update renovate config
  renovate.json
Due: none

ci: add separate PR for rattler
  renovate.json
Due: none

Stop using deprecated function
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

ci: split building, aggregating and uploading in separate jobs
  .github/workflows/build-upload.yml
  .github/workflows/lint-test.yml
  pixi.toml
  scripts/generate-version-matrix.py
Due: check-yaml, actionlint, taplo

Use sha
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

ci: be more precise about which dependencies to update
  renovate.jsonc
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  taplo: any of: \.toml$, but not: (^.pixi/|.snap)
