Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

misc: remove unused code
  crates/pixi-build-python/src/python.rs
Due: none

misc: use more good name
  crates/pixi-build-backend/src/dependencies.rs
Due: none

misc: remove phantomdata
  crates/pixi-build-python/src/python.rs
Due: none

misc: run cargo fmt
  crates/pixi-build-python/src/python.rs
Due: none

misc: remove type for ProtocolInstantiator
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/protocol.rs
  crates/pixi-build-backend/src/server.rs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

misc: remove commented code
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/protocol.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
Due: none

misc: move project conversion into separate file
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/lib.rs
  crates/pixi-build-backend/src/project.rs
  crates/pixi-build-backend/src/protocol.rs
  crates/pixi-build-cmake/src/protocol.rs
Due: none

feat: add module docs
  crates/pixi-build-backend/src/traits/mod.rs
  crates/pixi-build-backend/src/traits/package_spec.rs
  crates/pixi-build-backend/src/traits/project.rs
  crates/pixi-build-backend/src/traits/targets.rs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-python/src/python.rs
Due: none

feat: add traits to expose common functionality
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/traits/build_backend.rs
  crates/pixi-build-backend/src/traits/build_configuration.rs
  crates/pixi-build-backend/src/traits/capabilities.rs
  crates/pixi-build-backend/src/traits/mod.rs
  crates/pixi-build-backend/src/traits/project.rs
  crates/pixi-build-backend/src/traits/variants.rs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/build_script.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rattler-build/src/rattler_build.rs
Due: none

misc: remove commented code
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-python/src/python.rs
Due: none

misc: run cargofmt
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-python/src/python.rs
Due: none

misc: remove unused code
  crates/pixi-build-backend/src/dependencies.rs
Due: none

feat: remove traits and use common funcs
  crates/pixi-build-backend/src/common/configuration.rs
  crates/pixi-build-backend/src/common/mod.rs
  crates/pixi-build-backend/src/common/requirements.rs
  crates/pixi-build-backend/src/common/variants.rs
  crates/pixi-build-backend/src/lib.rs
  crates/pixi-build-backend/src/traits/build_backend.rs
  crates/pixi-build-backend/src/traits/build_configuration.rs
  crates/pixi-build-backend/src/traits/mod.rs
  crates/pixi-build-backend/src/traits/variants.rs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-python/src/python.rs
Due: none

misc: update capabilities part of the code
  crates/pixi-build-backend/src/traits/capabilities.rs
  crates/pixi-build-backend/src/traits/mod.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

misc: remove build context
  crates/pixi-build-backend/src/traits/mod.rs
Due: none

misc: update pixi task and remove dead code
  crates/pixi-build-python/src/protocol.rs
  pixi.toml
Due: taplo

ci: pin github actions
  .github/workflows/enforce-sha.yaml
  .github/workflows/pre-commit.yml
  .github/workflows/rattler-build.yml
  .github/workflows/rust-compile.yml
Due: check-yaml, actionlint

Also run on PR
  .github/workflows/enforce-sha.yaml
Due: check-yaml, actionlint

feat: add rust backend
  Cargo.lock
  crates/pixi-build-backend/src/compilers.rs
  crates/pixi-build-backend/src/lib.rs
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/pixi.lock
  crates/pixi-build-rust/pixi.toml
  crates/pixi-build-rust/src/build_script.j2
  crates/pixi-build-rust/src/build_script.rs
  crates/pixi-build-rust/src/config.rs
  crates/pixi-build-rust/src/main.rs
  crates/pixi-build-rust/src/protocol.rs
  crates/pixi-build-rust/src/rust.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__entry_point_nested.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__entry_point_not_a_module.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__entry_point_not_string.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__entry_points_are_read.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__noarch_none.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__noarch_python.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__setting_host_and_build_requirements-2.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__setting_host_and_build_requirements.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__wrong_entry_points.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__rust__tests__rust_is_in_build_requirements.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__rust__tests__setting_host_and_build_requirements-2.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__rust__tests__setting_host_and_build_requirements.snap
  pixi.toml
Due: taplo

misc: add building in the CI
  .github/workflows/rattler-build.yml
  recipe/pixi_build_rust.yaml
Due: check-yaml, actionlint

misc: update pixi.toml
  crates/pixi-build-rust/pixi.toml
Due: taplo

misc: update snapshots
  crates/pixi-build-rust/src/rust.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__entry_point_nested.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__entry_point_not_a_module.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__entry_point_not_string.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__entry_points_are_read.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__noarch_none.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__noarch_python.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__setting_host_and_build_requirements-2.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__setting_host_and_build_requirements.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_python__python__tests__wrong_entry_points.snap
  pixi.toml
Due: taplo

misc: fmt the code
  crates/pixi-build-rust/src/build_script.rs
  crates/pixi-build-rust/src/protocol.rs
  crates/pixi-build-rust/src/rust.rs
Due: none

misc: make dynamic redaction
  crates/pixi-build-rust/src/rust.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__rust__tests__rust_is_in_build_requirements.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__rust__tests__setting_host_and_build_requirements-2.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__rust__tests__setting_host_and_build_requirements.snap
Due: none

misc: remove build platform for build context
  crates/pixi-build-rust/src/build_script.j2
  crates/pixi-build-rust/src/build_script.rs
  crates/pixi-build-rust/src/rust.rs
Due: none

use correct assertion
  crates/pixi-build-rust/src/rust.rs
Due: none

misc: change the way how we build binaries
  .github/workflows/rattler-build.yml
  .gitignore
  scripts/build.py
  scripts/generate_version_matrix.py
Due: check-yaml, actionlint

Revert "misc: change the way how we build binaries"
  .github/workflows/rattler-build.yml
  .gitignore
  scripts/build.py
  scripts/generate_version_matrix.py
Due: check-yaml, actionlint

misc: pin the action
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: build only on main, and publish only on tags
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: do not run builds on PR
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

release: v0.1.3 pixi-build-rust
  crates/pixi-build-rust/pixi.toml
Due: taplo

fix: tags should be without v
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

feat: use pixi-build to build the pkgs instead of recipes
  .github/workflows/rattler-build.yml
  crates/pixi-build-cmake/pixi.toml
  crates/pixi-build-python/pixi.toml
  crates/pixi-build-rattler-build/pixi.toml
  crates/pixi-build-rust/src/build_script.j2
  pixi.toml
  scripts/generate_version_matrix.py
Due: check-yaml, actionlint, taplo

misc: try to build it with openssl in the host dependencies
  crates/pixi-build-rust/pixi.toml
Due: taplo

misc: add some fixes for the rattler-build backend
  .github/workflows/rattler-build.yml
  crates/pixi-build-rust/pixi.toml
  crates/pixi-build-rust/src/build_script.j2
  crates/pixi-build-rust/src/build_script.rs
  crates/pixi-build-rust/src/rust.rs
Due: check-yaml, actionlint, taplo

misc: add openssl as host dependency
  crates/pixi-build-cmake/pixi.toml
  crates/pixi-build-python/pixi.toml
  crates/pixi-build-rattler-build/pixi.toml
  crates/pixi-build-rust/pixi.toml
Due: taplo

misc: ask to export openssl
  crates/pixi-build-backend/src/traits/targets.rs
  crates/pixi-build-rust/src/rust.rs
Due: none

fix: export openssl
  crates/pixi-build-backend/src/traits/targets.rs
  crates/pixi-build-rust/src/build_script.j2
  crates/pixi-build-rust/src/build_script.rs
  crates/pixi-build-rust/src/rust.rs
Due: none

release: pixi-build-rust-0.1.4
  crates/pixi-build-rust/pixi.toml
Due: taplo

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  taplo: any of: \.toml$, but not: (^.pixi/|.snap)
