Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fix: preserve build constraints when converting wildcard version dependencies
  crates/pixi-build-backend/src/traits/package_spec.rs
Due: none

test: add unit tests for build constraint preservation
  crates/pixi-build-backend/src/traits/package_spec.rs
Due: none

fix: properly handle target-specific dependencies in backends
  crates/pixi-build-backend/src/compilers.rs
  crates/pixi-build-backend/src/traits/targets.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/build_script.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
Due: none

test: improve target-specific dependency tests to verify actual conditions
  crates/pixi-build-rust/src/main.rs
Due: none

refactor: remove unused Contains trait and simplify dependency checks
  crates/pixi-build-backend/src/compilers.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_not_added_if_already_present.snap.new
Due: none

refactor: simplify compiler requirements function to accept Dependencies directly
  crates/pixi-build-backend/src/compilers.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-rust/src/main.rs
Due: none

fix: use host_platform for all target-specific dependency conditionals
  crates/pixi-build-backend/src/specs_conversion.rs
  crates/pixi-build-rust/src/main.rs
Due: none

refactor: rename add_compilers_to_requirements_with_dependencies to add_compilers_to_requirements
  crates/pixi-build-backend/src/compilers.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
Due: none

fix: handle absolute package.xml path
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  backends/pixi-build-ros/tests/test_version_constraints.py
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

fix: handle absolute package.xml path
  backends/pixi-build-ros/tests/test_version_constraints.py
Due: none

misc: remove eprintlns
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

fix: fix target-specific documentation
  docs/backends/pixi-build-cmake.md
  docs/backends/pixi-build-mojo.md
  docs/backends/pixi-build-python.md
  docs/backends/pixi-build-rattler-build.md
  docs/backends/pixi-build-rust.md
  docs/key_concepts/compilers.md
Due: none

fixes
  crates/pixi-build-rust/src/main.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_not_added_if_already_present.snap.new
Due: none

misc: fix mypy
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
Due: none

fix formatting and clippy
  crates/pixi-build-backend/src/compilers.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/build_script.rs
  crates/pixi-build-python/src/main.rs
Due: none

misc: add snapshot
  backends/pixi-build-ros/tests/__snapshots__/test_version_constraints.ambr
Due: none

docs: update README
  README.md
Due: none

release: pixi-build-ros v0.3.2
  backends/pixi-build-ros/pyproject.toml
Due: taplo

misc: update lockfile
  backends/pixi-build-ros/pixi.lock
Due: none

fix: change to use manifest_root other backends
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
Due: none

Small improvements
  crates/pixi-build-backend/src/specs_conversion.rs
  crates/pixi-build-backend/src/traits/targets.rs
  crates/pixi-build-cmake/src/main.rs
Due: none

release: fix for backends treating manifest-path also as a file
  Cargo.lock
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-mojo/Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-rust/Cargo.toml
Due: taplo

fix: do not verify what is the filename
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
Due: none

fix: implement new API
  Cargo.lock
  crates/pixi-build-zig/src/main.rs
Due: none

fix: tests
  crates/pixi-build-zig/src/main.rs
Due: none

fix: regenerate lock file
  backends/pixi-build-ros/pixi.lock
Due: none

tmp
  Cargo.lock
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-cmake/src/main.rs
  py-pixi-build-backend/Cargo.lock
Due: taplo

feat: backends tracing
  Cargo.lock
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-backend/src/cli.rs
Due: taplo

Add multiple build tasks and compilers
  Cargo.lock
  crates/pixi-build-pixi/src/build_script.rs
  crates/pixi-build-pixi/src/config.rs
  crates/pixi-build-pixi/src/main.rs
Due: none

add logger in python bindings
  crates/pixi-build-backend/src/cli.rs
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/python_generator.py
  py-pixi-build-backend/pixi_build_backend/__init__.py
  py-pixi-build-backend/pixi_build_backend/logging.py
  py-pixi-build-backend/src/lib.rs
  py-pixi-build-backend/src/logging.rs
  py-pixi-build-backend/tests/unit/test_logging.py
Due: taplo

fixes
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-cmake/src/main.rs
Due: taplo

feat: add extra-args config option to rattler-build backend
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  docs/backends/pixi-build-rattler-build.md
Due: none

feat: add experimental config option for rattler-build backend
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  docs/backends/pixi-build-rattler-build.md
Due: none

fix: remove mojo compiler (#465)
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__compiler_is_in_build_requirements.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_bin_is_set.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_pkg_is_set.snap
  docs/backends/pixi-build-mojo.md
  docs/key_concepts/compilers.md
Due: none

fix: disallow experimental config in target-specific configurations
  crates/pixi-build-rattler-build/src/config.rs
  docs/backends/pixi-build-rattler-build.md
Due: none

refactor: use Option<bool> for experimental config
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

chore: bump rattler, pixi, and rattler-build
  Cargo.lock
  Cargo.toml
Due: taplo

fix: use 2.17 sysroot
  recipe/testsuite-backends/recipe.yaml
  recipe/variants.yaml
Due: check-yaml

bump rust version
  pixi.lock
  pixi.toml
  rust-toolchain
Due: taplo

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  taplo: any of: \.toml$, but not: (^.pixi/|.snap)
