Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run -e lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]

misc: remove commented code
  Cargo.lock
  crates/pixi-build-python/src/main.rs
Due: none

fix: ros backend build script
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/templates/build_ament_cmake.sh.in
Due: taplo

fix: use of templates in build package
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/pyproject.toml
  backends/pixi-build-ros/src/pixi_build_ros/build_script.py
Due: taplo

fix: use of templates in build package
  backends/pixi-build-ros/pyproject.toml
Due: taplo

fix: package the robostack.yaml
  backends/pixi-build-ros/pyproject.toml
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
Due: taplo

fix: allow spaces within manifest root in build script
  crates/pixi-build-python/src/build_script.j2
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/build_script.py
Due: none

fix: allow spaces within python path in build script
  crates/pixi-build-python/src/build_script.j2
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/build_script.py
Due: none

fix: local usage
  backends/pixi-build-ros/pyproject.toml
  backends/pixi-build-ros/src/pixi_build_ros/build_script.py
Due: taplo

fix: fmt, lint and cleanup
  backends/pixi-build-ros/.gitattributes
  backends/pixi-build-ros/.gitignore
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/src/pixi_build_ros/build_script.py
  backends/pixi-build-ros/src/pixi_build_ros/distro.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/tests/conftest.py
  backends/pixi-build-ros/tests/test_package_xml.py
  py-pixi-build-backend/pixi.toml
Due: taplo

Extend documentation
  docs/key_concepts/compilers.md
Due: none

feat: add recipe for pixi-build-ros
  pixi.toml
  recipe/pixi-build-ros/recipe.yaml
Due: check-yaml, taplo

chore: remove logic to support python 3.8 and clean up dependencies
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/pyproject.toml
  backends/pixi-build-ros/src/pixi_build_ros/build_script.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  recipe/pixi-build-ros/recipe.yaml
Due: check-yaml, taplo

chore: update git deps
  Cargo.lock
Due: none

docs: `ignore-pyproject-manifest`
  docs/backends/pixi-build-python.md
Due: none

fix: content is not allowed to be a list anymore
  crates/pixi-build-cmake/src/build_script.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/build_script.j2
  crates/pixi-build-mojo/src/build_script.rs
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_bin_is_set.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_pkg_is_set.snap
  crates/pixi-build-python/src/build_script.rs
  crates/pixi-build-rust/src/build_script.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__openssl@bash.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__openssl@cmdexe.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__sccache@bash.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__sccache@cmdexe.snap
  crates/recipe-stage0/src/recipe.rs
  crates/recipe-stage0/src/snapshots/recipe_stage0__recipe__tests__recipe_to_yaml.snap
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/pixi_build_backend/types/intermediate_recipe.py
  py-pixi-build-backend/src/recipe_stage0/recipe.rs
  py-pixi-build-backend/tests/unit/__snapshots__/test_generated_recipe.ambr
  py-pixi-build-backend/tests/unit/__snapshots__/test_intermediate_recipe.ambr
Due: taplo

remove \r\n
  crates/pixi-build-cmake/src/build_script.rs
  crates/pixi-build-mojo/src/build_script.rs
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_bin_is_set.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_pkg_is_set.snap
  crates/pixi-build-python/src/build_script.rs
  crates/pixi-build-rust/src/build_script.rs
Due: none

feat: use `requires-python` from `pyproject.toml`
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
Due: none

fix: make sure we can use a metadata provider
  Cargo.lock
  Cargo.toml
  backends/pixi-build-ros/pyproject.toml
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/traits/project.rs
  crates/pixi-build-backend/tests/integration/common/model.rs
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/pixi_build_backend/types/__init__.py
  py-pixi-build-backend/pixi_build_backend/types/generated_recipe.py
  py-pixi-build-backend/pixi_build_backend/types/metadata_provider.py
  py-pixi-build-backend/src/lib.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
  py-pixi-build-backend/src/types/metadata_provider.rs
  py-pixi-build-backend/src/types/mod.rs
  py-pixi-build-backend/src/types/project_model.rs
  recipe/pixi-build-api-version/recipe.yaml
  recipe/pixi-build-ros/recipe.yaml
  recipe/py-pixi-build-backend/recipe.yaml
Due: check-yaml, taplo

chore: remove unnecessary &mut
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-rust/src/main.rs
  crates/pixi-build-rust/src/metadata.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: none

fix(ros): multi distro build script
  backends/pixi-build-ros/src/pixi_build_ros/build_script.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/templates/build_ament_python.sh.in
Due: none

chore: bump
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/pyproject.toml
Due: taplo

chore: fix gitignore
  .gitignore
Due: none

Address review comments
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
Due: none

fix: use rust compiler for building bindings
  py-pixi-build-backend/pixi.lock
  py-pixi-build-backend/pixi.toml
Due: taplo

fix: use git's lf ending settings
  .gitattributes
  crates/pixi-build-cmake/src/build_script.rs
  crates/pixi-build-mojo/src/build_script.rs
  crates/pixi-build-python/src/build_script.rs
  crates/pixi-build-rust/src/build_script.rs
Due: none

fix: add pixi-build-api-version to py-pixi-build-backend
  py-pixi-build-backend/pixi.lock
  py-pixi-build-backend/pixi.toml
Due: taplo

lefthook, let cargo-fmt add it's changes
  lefthook.yaml
Due: check-yaml

fix: python tests
  py-pixi-build-backend/tests/unit/__snapshots__/test_project_model.ambr
Due: none

fix: improve python scripts
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/pyproject.toml
  backends/pixi-build-ros/src/pixi_build_ros/distro.py
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/tests/test_package_xml.py
  crates/pixi-build-backend/src/generated_recipe.rs
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/pixi_build_backend/types/__init__.py
  py-pixi-build-backend/pixi_build_backend/types/metadata_provider.py
  py-pixi-build-backend/pixi_build_backend/types/project_model.py
Due: taplo

fix: update locks
  Cargo.lock
  Cargo.toml
  backends/pixi-build-ros/pixi.lock
  py-pixi-build-backend/Cargo.lock
Due: taplo

wip: `Cleanup` -> `Preserve`
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

not rattler-build
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

fix: dont use large glob for workspace Cargo.toml
  crates/pixi-build-rust/src/main.rs
  crates/pixi-build-rust/src/metadata.rs
Due: none

fix: test
  crates/pixi-build-rust/src/metadata.rs
Due: none

DO NOT MERGE Revert "fix: `Cleanup` -> `Preserve` for non- rattler-build backends (#328)"
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

Revert "fix: `Cleanup` -> `Preserve` for non- rattler-build backends (#328)"
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

fix: lint py bindings
  py-pixi-build-backend/pixi_build_backend/types/__init__.py
Due: none

fix: use main branch of pixi
  Cargo.lock
  Cargo.toml
Due: taplo

fix: use main branch of pixi
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
Due: taplo
