Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run -e lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]

fix lint
  crates/pixi-build-cmake/src/cmake.rs
Due: none

misc: make a conditional presence of pixi.toml
  crates/pixi-build-python/src/python.rs
Due: none

misc: add a test for pyproject.toml
  crates/pixi-build-python/src/python.rs
Due: none

misc: simplify
  crates/pixi-build-python/src/python.rs
Due: none

misc: add missing snapshot
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__recipe_from_pyproject_toml.snap
Due: none

misc: refactor sccache
  crates/pixi-build-backend/src/lib.rs
  crates/pixi-build-rust/src/rust.rs
Due: none

misc: refactor sccache
  crates/pixi-build-backend/src/cache.rs
Due: none

release: bump pixi-build-python 0.1.4
  Cargo.lock
  crates/pixi-build-python/Cargo.toml
Due: taplo

misc: bump release
  Cargo.lock
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-rust/Cargo.toml
Due: taplo

misc: do a clean build
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: remove pull request
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

feat: add ability to manual build backends
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: add pull request to build all of them
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: remove pr
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: pass envs to a job
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: do not lowercase the SCCACHE
  crates/pixi-build-backend/src/cache.rs
Due: none

feat: allow to set environment variables from configuration
  crates/pixi-build-cmake/src/build_script.j2
  crates/pixi-build-cmake/src/build_script.rs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-python/src/build_script.j2
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-rust/src/build_script.j2
  crates/pixi-build-rust/src/config.rs
Due: none

Actually use env vars everywhere
  crates/pixi-build-python/src/build_script.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-rust/src/build_script.rs
  crates/pixi-build-rust/src/rust.rs
Due: none

feat: extend logging
  crates/pixi-build-backend/src/protocol.rs
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/src/config.rs
  crates/pixi-build-rust/src/protocol.rs
Due: none

Log getMetadata
  crates/pixi-build-backend/src/protocol.rs
  crates/pixi-build-backend/src/server.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/src/protocol.rs
Due: none

Log conda build
  crates/pixi-build-backend/src/server.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

Start with initialize logging
  crates/pixi-build-backend/src/server.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

fix: enable `rustls-tls` on `rattler-build`
  Cargo.toml
Due: taplo

pre-commit
  Cargo.toml
Due: taplo

Nearly done
  crates/pixi-build-backend/src/protocol.rs
  crates/pixi-build-backend/src/server.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/src/protocol.rs
Due: none

fix: build scripts for windows
  crates/pixi-build-rust/src/build_script.j2
  crates/pixi-build-rust/src/build_script.rs
  crates/pixi-build-rust/src/rust.rs
Due: none

test: add tests
  Cargo.lock
  Cargo.toml
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/src/build_script.j2
  crates/pixi-build-rust/src/build_script.rs
  crates/pixi-build-rust/src/rust.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__build_script@bash.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__build_script@cmdexe.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__openssl@bash.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__openssl@cmdexe.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__sccache@bash.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__sccache@cmdexe.snap
Due: taplo

fix: taplo
  crates/pixi-build-rust/Cargo.toml
Due: taplo

feat: allow to set environment variables from configuration
  Cargo.lock
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/src/config.rs
  crates/pixi-build-rust/src/rust.rs
Due: taplo

Fix clippy lint
  crates/pixi-build-python/src/config.rs
Due: none

Add tests
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-rust/src/rust.rs
Due: none

Rename `env_vars` to `env`
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-rust/src/config.rs
  crates/pixi-build-rust/src/rust.rs
Due: none

feat: run source dependencies
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/common/mod.rs
  crates/pixi-build-backend/src/common/requirements.rs
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/lib.rs
  crates/pixi-build-backend/src/traits/mod.rs
  crates/pixi-build-backend/src/traits/package_spec.rs
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__setting_host_and_build_requirements.snap
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/src/protocol.rs
  crates/pixi-build-rust/src/rust.rs
Due: taplo

fix: clippy
  crates/pixi-build-backend/src/common/requirements.rs
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-rust/src/protocol.rs
  crates/pixi-build-rust/src/rust.rs
Due: none

fix: check if build.ninja exists to reconfigure cmake
  crates/pixi-build-cmake/src/build_script.j2
Due: none

fix: update dependencies
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/src/traits/package_spec.rs
  crates/pixi-build-python/src/python.rs
Due: taplo

fix: fmt
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-rust/src/rust.rs
Due: none

fix: taplo
  Cargo.toml
Due: taplo

Add filter globs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-python/src/python.rs
Due: none

add pyext backend
  Cargo.lock
  crates/pixi-build-pyext/Cargo.toml
  crates/pixi-build-pyext/src/config.rs
  crates/pixi-build-pyext/src/main.rs
  crates/pixi-build-pyext/src/protocol.rs
  crates/pixi-build-pyext/src/rattler_build.rs
Due: taplo
