Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run -e lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]

feat: add Pixi package declarations
  crates/pixi-build-backend/pixi.toml
  crates/pixi-build-cmake/pixi.toml
  crates/pixi-build-mojo/pixi.toml
  crates/pixi-build-python/pixi.toml
  crates/pixi-build-rattler-build/pixi.toml
  crates/pixi-build-rust/pixi.toml
  crates/recipe-stage0/pixi.toml
  py-pixi-build-backend/examples/pixi-build-python/pyproject.toml
  py-pixi-build-backend/pixi.toml
Due: taplo

update lock
  py-pixi-build-backend/pixi.lock
Due: none

fixes
  crates/pixi-build-backend/pixi.toml
  crates/recipe-stage0/pixi.toml
  py-pixi-build-backend/pixi.toml
Due: taplo

fix mojo version
  crates/pixi-build-mojo/pixi.toml
Due: taplo

fmt
  py-pixi-build-backend/tests/unit/test_generated_recipe.py
Due: none

use format
  Cargo.lock
  crates/recipe-stage0/Cargo.toml
  crates/recipe-stage0/src/recipe.rs
Due: taplo

fix: preserve working directory for incremental compilation
  Cargo.lock
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

fix: update rattler-build
  py-pixi-build-backend/Cargo.lock
Due: none

changes from review
  crates/pixi-build-rust/src/main.rs
  crates/pixi-build-rust/src/metadata.rs
Due: none

fix: update error handling test to avoid Debug trait requirement
  crates/pixi-build-rust/src/main.rs
Due: none

fix: add tests
  Cargo.lock
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/src/metadata.rs
Due: taplo

chore: add tests to check input globs
  crates/pixi-build-rust/src/metadata.rs
Due: none

docs: update the documentation
  docs/backends/pixi-build-rust.md
Due: none

fix: build of the backends
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  py-pixi-build-backend/pixi.toml
Due: taplo

fix: cleanup working directory for rattler-build backend
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

chore: move recipes to folders
  .github/workflows/build-upload.yml
  recipe/pixi-build-api-version/recipe.yaml
  recipe/pixi-build-cmake/recipe.yaml
  recipe/pixi-build-mojo/recipe.yaml
  recipe/pixi-build-py-pixi-build-backend/recipe.yaml
  recipe/pixi-build-python/recipe.yaml
  recipe/pixi-build-rattler-build/recipe.yaml
  recipe/pixi-build-rust/recipe.yaml
Due: check-yaml, actionlint

fix: small update based on review
  crates/recipe-stage0/src/recipe.rs
  py-pixi-build-backend/Cargo.lock
Due: none

fix: small update based on review
  crates/recipe-stage0/src/recipe.rs
Due: none

fix: lint
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

update gitignore
  .gitignore
Due: none

fmt
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: none

feat: improve release workflow with manual builds and auto-versioning
  .github/workflows/build-upload.yml
  scripts/generate-matrix.py
Due: check-yaml, actionlint

misc: use cleanup option
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

misc: set cleanup in more places
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

cleanup and improvements based on review
  .github/workflows/build-upload.yml
  scripts/generate-matrix.py
Due: check-yaml, actionlint

fix: dev drive script
  .github/workflows/setup-dev-drive.ps1
Due: none

misc: change reimports
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

misc: change reimports
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

chore: cleanup the cargo tomls and make it all part of one workspace
  Cargo.lock
  Cargo.toml
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
Due: taplo

misc: update the lockfile for py-pixi-build-backend
  py-pixi-build-backend/pixi.lock
Due: none

chore: improve recipe py-pixi-build
  py-pixi-build-backend/pyproject.toml
  recipe/pixi-build-py-pixi-build-backend/recipe.yaml
Due: check-yaml, taplo

misc: update enviroment install
  .github/workflows/python-bindings.yml
Due: check-yaml, actionlint

chore: improve pixi manifest
  .github/workflows/python-bindings.yml
  py-pixi-build-backend/pixi.lock
  py-pixi-build-backend/pixi.toml
Due: check-yaml, actionlint, taplo

misc: fix from_model
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: none

misc: fix lint errors
  py-pixi-build-backend/pixi_build_backend/types/intermediate_recipe.py
  py-pixi-build-backend/tests/unit/test_generated_recipe.py
Due: none

feat: add the py-pixi-build-backend build to the generate script
  scripts/generate-matrix.py
Due: none

misc: fix typechecks
  py-pixi-build-backend/pixi_build_backend/types/intermediate_recipe.py
  py-pixi-build-backend/pixi_build_backend/types/requirements.py
  py-pixi-build-backend/tests/unit/test_intermediate_recipe.py
Due: none

misc: use specific env for testing
  .github/workflows/python-bindings.yml
Due: check-yaml, actionlint

misc: fix snapshot and test
  py-pixi-build-backend/tests/unit/__snapshots__/test_intermediate_recipe.ambr
  py-pixi-build-backend/tests/unit/test_intermediate_recipe.py
Due: none

fix: move the py-pixi-build-backend recipe to a more corectly named folder.
  recipe/py-pixi-build-backend/recipe.yaml
Due: check-yaml
