Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run -e lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]

misc: update snapshosts
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__noarch_none.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__noarch_python.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__recipe_from_pyproject_toml.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__scripts_are_respected.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__setting_host_and_build_requirements.snap
Due: none

misc: add default variants for every recipe
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-cmake/src/main.rs
Due: none

misc: change vscompiler
  crates/pixi-build-cmake/src/main.rs
Due: none

feat: support relative paths
  crates/pixi-build-backend/src/specs_conversion.rs
Due: none

feat: default variants
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-cmake/src/main.rs
Due: none

misc: update snapshots
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__pip_is_in_host_requirements.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__python_is_not_added_if_already_present.snap
Due: none

misc: fix scheme asserting
  crates/pixi-build-backend/src/specs_conversion.rs
Due: none

use more rattler-buildy way
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/tools.rs
Due: none

bump versions
  Cargo.lock
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-rust/Cargo.toml
Due: taplo

Add local files to gitignore
  .gitignore
Due: none

Implement target specific configuration
  Cargo.toml
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rust/src/config.rs
Due: taplo

fix: clippy issue
  crates/pixi-build-rust/src/main.rs
Due: none

fix: test snapshots
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__tests__input_globs_includes_extra_globs.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__input_globs_includes_extra_globs.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__input_globs_includes_extra_globs_editable.snap
Due: none

it seems to work
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/protocol.rs
  crates/pixi-build-backend/src/rattler_build_integration.rs
  crates/pixi-build-backend/src/server.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-backend/src/utils/test.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: taplo

update cargo
  Cargo.lock
  Cargo.toml
Due: taplo

chore: align with pixi changes
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-backend/src/utils/test.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: taplo

add support for rattler-build too
  Cargo.lock
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rattler-build/src/protocol.rs
Due: taplo

fix: small issues
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/specs_conversion.rs
Due: none

fix: pre-commit
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

fix: snapshots
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs@boltons__recipe.yaml.snap
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs@pin-subpackage-variants__recipe.yaml.snap
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs@pin-subpackage__recipe.yaml.snap
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs@variants__recipe.yaml.snap
Due: none

align with latest pixi changes
  Cargo.lock
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/protocol.rs
  crates/pixi-build-backend/src/server.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

fixes
  crates/pixi-build-backend/src/server.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

update to latest pixi changes
  Cargo.lock
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/protocol.rs
  crates/pixi-build-backend/src/server.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

fix: target `prefix-dev/pixi@branch=main`
  Cargo.lock
  Cargo.toml
Due: taplo

misc: initial draft of python bindings
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/rattler_build_integration.rs
  crates/pixi-build-backend/src/specs_conversion.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-backend/src/traits/package_spec.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  py-pixi-build-backend/.gitattributes
  py-pixi-build-backend/.gitignore
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/build.rs
  py-pixi-build-backend/example.py
  py-pixi-build-backend/pixi.lock
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/pyproject.toml
  py-pixi-build-backend/src/error.rs
  py-pixi-build-backend/src/lib.rs
  py-pixi-build-backend/src/types/backend.rs
  py-pixi-build-backend/src/types/config.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
  py-pixi-build-backend/src/types/mod.rs
  py-pixi-build-backend/src/types/platform.rs
  py-pixi-build-backend/src/types/project_model.rs
  py-pixi-build-backend/src/types/python_params.rs
  py-pixi-build-backend/src/types/recipe.rs
Due: taplo

chore: bump pixi
  Cargo.lock
Due: none

misc: remove __pycache__
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/__pycache__/__init__.cpython-312.pyc
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/__pycache__/build_script.cpython-312.pyc
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/__pycache__/main.cpython-312.pyc
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/__pycache__/python_generator.cpython-312.pyc
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/__pycache__/utils.cpython-312.pyc
Due: none

misc: remove example
  py-pixi-build-backend/example.py
Due: none

misc: remove commented code
  py-pixi-build-backend/src/error.rs
Due: none

misc: remove unused types
  py-pixi-build-backend/src/lib.rs
Due: none

misc: remove commented code
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/python_generator.py
Due: none

misc: add tests and docstrings
  crates/pixi-build-backend/src/cli.rs
  crates/recipe-stage0/src/recipe.rs
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/build_script.py
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/main.py
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/python_generator.py
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/utils.py
  py-pixi-build-backend/pixi.lock
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/pixi_build_backend/__init__.py
  py-pixi-build-backend/pixi_build_backend/main.py
  py-pixi-build-backend/pixi_build_backend/types/entry_points.py
  py-pixi-build-backend/pixi_build_backend/types/generated_recipe.py
  py-pixi-build-backend/pixi_build_backend/types/intermediate_recipe.py
  py-pixi-build-backend/pixi_build_backend/types/platform.py
  py-pixi-build-backend/pixi_build_backend/types/project_model.py
  py-pixi-build-backend/pixi_build_backend/types/python_params.py
  py-pixi-build-backend/src/error.rs
  py-pixi-build-backend/src/lib.rs
  py-pixi-build-backend/src/recipe_stage0/recipe.rs
  py-pixi-build-backend/src/recipe_stage0/utils.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
  py-pixi-build-backend/src/types/mod.rs
  py-pixi-build-backend/src/types/platform.rs
  py-pixi-build-backend/src/types/project_model.rs
  py-pixi-build-backend/src/types/recipe.rs
  py-pixi-build-backend/tests/__init__.py
  py-pixi-build-backend/tests/conftest.py
  py-pixi-build-backend/tests/data/boltons_recipe.yaml
  py-pixi-build-backend/tests/unit/__init__.py
  py-pixi-build-backend/tests/unit/__snapshots__/test_generated_recipe.ambr
  py-pixi-build-backend/tests/unit/__snapshots__/test_intermediate_recipe.ambr
  py-pixi-build-backend/tests/unit/__snapshots__/test_project_model.ambr
  py-pixi-build-backend/tests/unit/test_generated_recipe.py
  py-pixi-build-backend/tests/unit/test_intermediate_recipe.py
  py-pixi-build-backend/tests/unit/test_platform.py
  py-pixi-build-backend/tests/unit/test_project_model.py
Due: check-yaml, taplo

update to simpler rattler-build modification and fix cmake build dir
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/rattler_build_integration.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-cmake/src/build_script.j2
  crates/pixi-build-cmake/src/build_script.rs
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@unix-nopython.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@unix-python.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@windows-nopython.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@windows-python.snap
  crates/pixi-build-rattler-build/src/protocol.rs
Due: taplo

misc: remove comments
  crates/pixi-build-backend/src/cli.rs
Due: none

misc: run pre-commit
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/examples/pixi-build-python/pyproject.toml
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/pixi_build_backend/types/entry_points.py
  py-pixi-build-backend/pixi_build_backend/types/intermediate_recipe.py
  py-pixi-build-backend/pixi_build_backend/types/project_model.py
  py-pixi-build-backend/pixi_build_backend/types/python_params.py
Due: taplo

misc: add workflow for python bindings
  .github/workflows/python-bindigs.yml
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/python_generator.py
  py-pixi-build-backend/pixi.lock
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/pixi_build_backend/main.py
  py-pixi-build-backend/pixi_build_backend/types/entry_points.py
  py-pixi-build-backend/pixi_build_backend/types/generated_recipe.py
  py-pixi-build-backend/pixi_build_backend/types/intermediate_recipe.py
  py-pixi-build-backend/pixi_build_backend/types/platform.py
  py-pixi-build-backend/pixi_build_backend/types/project_model.py
  py-pixi-build-backend/pixi_build_backend/types/python_params.py
  py-pixi-build-backend/pyproject.toml
Due: check-yaml, actionlint, taplo

update to rattler-build main
  Cargo.lock
  Cargo.toml
Due: taplo

misc: fix pre-commit
  py-pixi-build-backend/pyproject.toml
Due: taplo
