Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

Update pixi lock
  backends/pixi-build-ros/pixi.lock
Due: none

update lockfile
  backends/pixi-build-ros/pixi.lock
Due: none

Add proper encoding for windows
  .github/workflows/python-bindings.yml
Due: check-yaml, actionlint

Add python io encoding
  .github/workflows/testsuite.yml
Due: check-yaml, actionlint

feat: store intermediate_recipe.yaml in debugdir
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

misc: save ir in the working dir
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

Update dependencies
  Cargo.lock
  Cargo.toml
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
Due: taplo

Update pixi.lock
  backends/pixi-build-ros/pixi.lock
Due: none

Update cargo.lock
  py-pixi-build-backend/Cargo.lock
Due: none

Address comments
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

Update lockfile
  backends/pixi-build-ros/pixi.lock
Due: none

feat: finalize zig build backend
  .github/workflows/build-upload.yml
  Cargo.lock
  README.md
  crates/pixi-build-zig/Cargo.toml
  crates/pixi-build-zig/pixi.toml
  crates/pixi-build-zig/src/build_script.j2
  crates/pixi-build-zig/src/build_script.rs
  crates/pixi-build-zig/src/config.rs
  crates/pixi-build-zig/src/main.rs
  crates/pixi-build-zig/src/snapshots/pixi_build_zig__build_script__test__build_script@bash.snap
  crates/pixi-build-zig/src/snapshots/pixi_build_zig__build_script__test__build_script@cmdexe.snap
  crates/pixi-build-zig/src/snapshots/pixi_build_zig__build_script__test__build_script_with_extra_args@bash.snap
  crates/pixi-build-zig/src/snapshots/pixi_build_zig__build_script__test__build_script_with_extra_args@cmdexe.snap
  crates/pixi-build-zig/src/snapshots/pixi_build_zig__tests__env_vars_are_set.snap
  crates/pixi-build-zig/src/snapshots/pixi_build_zig__tests__zig_is_in_build_requirements.snap
  crates/pixi-build-zig/src/snapshots/pixi_build_zig__tests__zig_is_not_added_if_already_present.snap
  docs/backends/pixi-build-zig.md
  mkdocs.yml
  pixi.toml
Due: check-yaml, actionlint, taplo

feat: add to index
  docs/index.md
Due: none

use py-pixi-build-backend from channel
  backends/pixi-build-ros/pixi.toml
Due: taplo

extend robostack.yaml
  backends/pixi-build-ros/robostack.yaml
Due: check-yaml

add python variant to variants.yaml
  recipe/variants.yaml
Due: check-yaml

use development version of `py-pixi-build-backends`
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
Due: taplo

Cargo clippy
  crates/pixi-build-zig/src/main.rs
Due: none

ci: remove job "Format and lint"
  .github/workflows/rust.yml
Due: check-yaml, actionlint

Move to inline snapshots
  crates/pixi-build-zig/src/main.rs
  crates/pixi-build-zig/src/snapshots/pixi_build_zig__tests__env_vars_are_set.snap
  crates/pixi-build-zig/src/snapshots/pixi_build_zig__tests__zig_is_in_build_requirements.snap
  crates/pixi-build-zig/src/snapshots/pixi_build_zig__tests__zig_is_not_added_if_already_present.snap
Due: none

fix: remove into_diagnostic for proper error messages
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

chore: remove build api v0
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/common/configuration.rs
  crates/pixi-build-backend/src/consts.rs
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/lib.rs
  crates/pixi-build-backend/src/protocol.rs
  crates/pixi-build-backend/src/rattler_build_integration.rs
  crates/pixi-build-backend/src/server.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-backend/tests/integration/common/mod.rs
  crates/pixi-build-backend/tests/integration/common/model.rs
  crates/pixi-build-backend/tests/integration/main.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-backend/tests/integration/snapshots/integration__conda_get_metadata__project_model_into_recipe.snap
  crates/pixi-build-backend/tests/integration/snapshots/integration__protocol__conda_get_metadata.snap
  crates/pixi-build-rattler-build/src/protocol.rs
Due: taplo

feat: add zig build recipe
  recipe/pixi-build-zig/recipe.yaml
Due: check-yaml

chore: remove ros tasks from main pixi.toml
  pixi.toml
Due: taplo

feat: support variant files
  .gitignore
  Cargo.lock
  Cargo.toml
  backends/pixi-build-ros/pixi.lock
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/rattler_build_integration.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-backend/src/utils/test.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
Due: taplo

Add ?
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

feat: add mapping file to globs
  backends/pixi-build-ros/src/pixi_build_ros/config.py
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/tests/test_meta_data_provider.py
Due: none

fmt
  backends/pixi-build-ros/tests/test_meta_data_provider.py
Due: none

misc: add a test for intermediate recipe
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/tests/fixtures/default_minimal_project_model_for_build.json
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-backend/tests/integration/snapshots/integration__protocol__conda_build_v1.snap
Due: none

misc: add a test for intermediate recipe
  crates/pixi-build-backend/tests/integration/protocol.rs
Due: none

fix: move back to Pixi main repo
  Cargo.lock
  Cargo.toml
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
Due: taplo

fix: pin python to 3.13
  recipe/variants.yaml
Due: check-yaml

feat: set ROS_VERSION and DISTRO automatically
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/tests/test_package_xml.py
  docs/backends/pixi-build-ros.md
Due: none

fix: fmt
  backends/pixi-build-ros/tests/test_package_xml.py
Due: none

feat: update the test to be parameterized
  backends/pixi-build-ros/tests/__snapshots__/test_package_xml.ambr
  backends/pixi-build-ros/tests/conftest.py
  backends/pixi-build-ros/tests/test_package_xml.py
Due: none

add pcl with more names
  backends/pixi-build-ros/robostack.yaml
Due: check-yaml

use latest rust in the variants
  recipe/variants.yaml
Due: check-yaml

Remove Python version from variants.yaml
  recipe/variants.yaml
Due: check-yaml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  taplo: any of: \.toml$, but not: (^.pixi/|.snap)
