Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

fix: align api version
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/pyproject.toml
  py-pixi-build-backend/pixi.toml
  recipe/py-pixi-build-backend/recipe.yaml
Due: check-yaml, taplo

fix: use a class instead of dict for the package xml data, and add more globs for metadata fetching
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
Due: none

fix: ruff lint
  backends/pixi-build-ros/src/pixi_build_ros/distro.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
Due: none

chore: update all versions and dependencies on the api version
  Cargo.lock
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-cmake/pixi.toml
  crates/pixi-build-mojo/Cargo.toml
  crates/pixi-build-mojo/pixi.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/pixi.toml
  crates/pixi-build-rattler-build/pixi.toml
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/pixi.toml
  pixi.toml
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi.toml
  recipe/pixi-build-cmake/recipe.yaml
  recipe/pixi-build-mojo/recipe.yaml
  recipe/pixi-build-python/recipe.yaml
  recipe/pixi-build-rattler-build/recipe.yaml
  recipe/pixi-build-ros/recipe.yaml
  recipe/pixi-build-rust/recipe.yaml
Due: check-yaml, taplo

misc: cleanup
  pixi.toml
Due: taplo

try to build in docker
  .github/workflows/build-upload.yml
  .github/workflows/python-bindings.yml
  Cargo.lock
Due: check-yaml, actionlint

fix: use year-month-date instead of date-month-year
  scripts/generate-matrix.py
Due: none

--amend
  scripts/generate-matrix.py
Due: none

feat: add variants and sysroot
  pixi.toml
  recipe/pixi-build-cmake/recipe.yaml
  recipe/pixi-build-mojo/recipe.yaml
  recipe/pixi-build-python/recipe.yaml
  recipe/pixi-build-rattler-build/recipe.yaml
  recipe/pixi-build-rust/recipe.yaml
  recipe/variants.yaml
Due: check-yaml, taplo

docs: add pixi-build-ros docs
  docs/backends/pixi-build-ros.md
  docs/index.md
  mkdocs.yml
Due: check-yaml

pin rust compiler
  recipe/variants.yaml
Due: check-yaml

feat: add attestations to the build backends
  .github/workflows/build-upload.yml
  pixi.lock
  pixi.toml
Due: check-yaml, actionlint, taplo

feat: trigger rebuild if workflow changes
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

fix: attestation permissions
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

fix: windows path handling
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

feat(python): `pip-config` for python backend
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-python/src/build_script.j2
  crates/pixi-build-python/src/build_script.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/main.rs
  docs/backends/pixi-build-python.md
Due: none

docs(rattler-build): warn about requirement for incremental compilation
  docs/backends/pixi-build-rattler-build.md
Due: none

Update docs/backends/pixi-build-rattler-build.md
  docs/backends/pixi-build-rattler-build.md
Due: none

switch to full `--config-settings=`
  crates/pixi-build-python/src/config.rs
Due: none

feat: add support for input globs for python bindings
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
  py-pixi-build-backend/pixi_build_backend/types/generated_recipe.py
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: taplo

misc: change the return type to result
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
  py-pixi-build-backend/src/recipe_stage0/recipe.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
  py-pixi-build-backend/src/types/metadata_provider.rs
  py-pixi-build-backend/src/types/project_model.rs
Due: taplo

update and improve building ros backend
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/pyproject.toml
  pixi.toml
Due: taplo

extra_args
  crates/pixi-build-python/src/build_script.j2
  crates/pixi-build-python/src/build_script.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/main.rs
  docs/backends/pixi-build-python.md
Due: none

Update docs/backends/pixi-build-python.md
  docs/backends/pixi-build-python.md
Due: none

Update docs/index.md
  docs/index.md
Due: none

fix options order
  crates/pixi-build-python/src/build_script.j2
Due: none

docs: reformulate intro
  docs/backends/pixi-build-ros.md
Due: none

docs: migrate to `package.build.config`
  docs/backends/pixi-build-cmake.md
  docs/backends/pixi-build-mojo.md
  docs/backends/pixi-build-python.md
  docs/backends/pixi-build-rattler-build.md
  docs/backends/pixi-build-rust.md
  docs/key_concepts/compilers.md
Due: none

misc: change snapshots
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__tests__input_globs_includes_extra_globs.snap
Due: none

misc: fix snapshots
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__input_globs_includes_extra_globs.snap
Due: none

misc: update snapshots
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__input_globs_includes_extra_globs.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__input_globs_includes_extra_globs_editable.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_not_added_if_already_present.snap
Due: none

misc: fix snapshot
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_not_added_if_already_present.snap
Due: none

docs: cleanup
  docs/backends/pixi-build-ros.md
  pixi.toml
Due: taplo

feat: implement default_variants for python implementation
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi_build_backend/types/generated_recipe.py
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: taplo

fix: lint
  crates/pixi-build-mojo/src/main.rs
Due: none

feat: support windows build scripts
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/pyproject.toml
  backends/pixi-build-ros/src/pixi_build_ros/build_script.py
  backends/pixi-build-ros/templates/bld_ament_cmake.bat
  backends/pixi-build-ros/templates/bld_ament_python.bat
  backends/pixi-build-ros/templates/bld_catkin.bat
  backends/pixi-build-ros/templates/bld_catkin_merge.bat
  backends/pixi-build-ros/templates/bld_colcon_merge.bat
  backends/pixi-build-ros/templates/build_ament_cmake.sh
  backends/pixi-build-ros/templates/build_ament_python.sh
  backends/pixi-build-ros/templates/build_catkin.sh
  py-pixi-build-backend/pyproject.toml
Due: taplo

fix: naming test
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/pyproject.toml
  py-pixi-build-backend/pyproject.toml
Due: taplo

Update docs/backends/pixi-build-ros.md
  docs/backends/pixi-build-ros.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  taplo: any of: \.toml$, but not: (^.pixi/|.snap)
