Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run -e lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]

fix: upload trigger
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

fix: upload trigger (#499)
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

Add tests
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

Stop hardcoding conda-forge
  Cargo.lock
  Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/pypi_mapping.rs
Due: taplo

Support build requires
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
Due: none

fix: add the default win compiler variants everywhere and add some docs about it
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
  docs/backends/pixi-build-cmake.md
  docs/backends/pixi-build-mojo.md
  docs/backends/pixi-build-python.md
  docs/backends/pixi-build-ros.md
  docs/backends/pixi-build-rust.md
Due: none

fix: lock
  backends/pixi-build-ros/pixi.lock
Due: none

fix lock
  Cargo.lock
  py-pixi-build-backend/Cargo.lock
Due: none

bump locks
  backends/pixi-build-ros/pixi.lock
  py-pixi-build-backend/Cargo.lock
Due: none

Remove allow(dead_code)
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

Move functions to pypi_mapping
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

Fixing license parsing bug
  crates/pixi-build-python/src/metadata.rs
Due: none

Extract common functionality
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

Fix error message format
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

Remove normalization
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

Simplify code
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

Detect Rust compiler when maturin or setuptools-rust is present
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

fix: add the default win compiler variants everywhere (#500)
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
  docs/backends/pixi-build-cmake.md
  docs/backends/pixi-build-mojo.md
  docs/backends/pixi-build-python.md
  docs/backends/pixi-build-ros.md
  docs/backends/pixi-build-rust.md
Due: none

Don't convert ~=
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

Use enum for pyproject manifestmode
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
Due: none

Add docs
  docs/backends/pixi-build-python.md
Due: none

fix: name lowercasing
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-python/src/snapshots/pixi_build_python__metadata__tests__generated_recipe_contains_pyproject_values.snap
  py-pixi-build-backend/Cargo.lock
Due: none

fix: do the platform mapping to the environment markers
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

test: add improved test
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

docs: small improvement to add more supported markers
  docs/backends/pixi-build-python.md
Due: none

fix: validate license early in the metadata process (#493)
  Cargo.lock
  Cargo.toml
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
  backends/pixi-build-ros/tests/test_meta_data_provider.py
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-rust/src/metadata.rs
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/pixi_build_backend/types/metadata_provider.py
  py-pixi-build-backend/pixi_build_backend/types/project_model.py
  py-pixi-build-backend/src/types/metadata_provider.rs
Due: taplo

add better license metadata handling
  crates/pixi-build-r/license_mapping/cran_license_mapper.py
  crates/pixi-build-r/license_mapping/cran_spdx_licenses.json
  crates/pixi-build-r/src/metadata.rs
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@unix-native-no-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@unix-native-with-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@unix-pure-no-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@unix-pure-with-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@windows-native-no-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@windows-native-with-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@windows-pure-no-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@windows-pure-with-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__tests__pure_r_package_no_compilers.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__tests__r_package_with_dependencies.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__tests__r_package_with_native_code.snap
Due: none

improve the implementation
  crates/pixi-build-r/README.md
  crates/pixi-build-r/collect_system_requirements.py
  crates/pixi-build-r/src/build_script.j2
  crates/pixi-build-r/src/main.rs
  crates/pixi-build-r/src/metadata.rs
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@unix-native-no-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@unix-native-with-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@unix-pure-no-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@unix-pure-with-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@windows-native-no-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@windows-native-with-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@windows-pure-no-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__build_script__tests__build_script@windows-pure-with-extra-args.snap
  crates/pixi-build-r/src/snapshots/pixi_build_r__tests__r_package_with_native_code.snap
  crates/pixi-build-r/system_requirements_cache.json
  crates/pixi-build-r/validate_against_feedstocks.py
Due: none

fix: add marker ignoring for NoArch packages
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

Enable linux-aarch64 platform
  backends/pixi-build-ros/pixi.toml
  pixi.lock
  pixi.toml
Due: taplo

update lockfile
  backends/pixi-build-ros/pixi.lock
Due: none

Enable linux-aarch64 platform (#509)
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
  pixi.lock
  pixi.toml
Due: taplo

Update lock
  Cargo.lock
Due: none

Extend tests
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/main.rs
  docs/backends/pixi-build-python.md
Due: none

Simplify `get_mapping`
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

Move to new API
  Cargo.lock
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/src/pypi_mapping.rs
Due: taplo

Make function call clearer
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

Remove debug statement
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

Fix function
  crates/pixi-build-python/src/pypi_mapping.rs
Due: none

feat: pyproject.toml dep parsing (#497)
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/Cargo.toml
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-python/src/pypi_mapping.rs
  crates/pixi-build-python/src/snapshots/pixi_build_python__metadata__tests__generated_recipe_contains_pyproject_values.snap
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/src/main.rs
  docs/backends/pixi-build-python.md
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: taplo
