Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run -e lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]

fix: update to main
  Cargo.lock
  Cargo.toml
Due: taplo

use variant config when discovering and building outputs
  Cargo.lock
  crates/pixi-build/src/bin/pixi-build-rattler-build/rattler_build.rs
  crates/pixi-build/src/cli.rs
  crates/pixi-build/src/tools.rs
Due: none

fix tests
  crates/pixi-build/src/bin/pixi-build-rattler-build/rattler_build.rs
Due: none

feat: parse console scripts
  Cargo.lock
  Cargo.toml
  crates/pixi-build/Cargo.toml
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
  crates/pixi-build/src/bin/pixi-build-python/snapshots/pixi_build_python__python__tests__entry_point_not_a_module.snap
  crates/pixi-build/src/bin/pixi-build-python/snapshots/pixi_build_python__python__tests__entry_point_not_string.snap
  crates/pixi-build/src/bin/pixi-build-python/snapshots/pixi_build_python__python__tests__entry_points_are_read.snap
  crates/pixi-build/src/bin/pixi-build-python/snapshots/pixi_build_python__python__tests__wrong_entry_points.snap
  crates/pixi-build/src/tools.rs
Due: taplo

misc: add missing space
  crates/pixi-build/Cargo.toml
Due: taplo

feat: add snapshot testing
  Cargo.lock
  Cargo.toml
  crates/pixi-build/src/bin/pixi-build-python/snapshots/pixi_build_python__python__tests__entry_point_nested.snap
Due: taplo

misc: remove the comment
  crates/pixi-build/src/bin/pixi-build-python/python.rs
Due: none

refactor: Small follow up improvements
  crates/pixi-build/src/bin/pixi-build-python/python.rs
Due: none

update snapshots
  crates/pixi-build/src/bin/pixi-build-cmake/snapshots/pixi_build_cmake__cmake__tests__setting_host_and_build_requirements-2.snap
  crates/pixi-build/src/bin/pixi-build-cmake/snapshots/pixi_build_cmake__cmake__tests__setting_host_and_build_requirements.snap
  crates/pixi-build/src/bin/pixi-build-python/snapshots/pixi_build_python__python__tests__noarch_none.snap
  crates/pixi-build/src/bin/pixi-build-python/snapshots/pixi_build_python__python__tests__noarch_python.snap
  crates/pixi-build/src/bin/pixi-build-python/snapshots/pixi_build_python__python__tests__setting_host_and_build_requirements-2.snap
  crates/pixi-build/src/bin/pixi-build-python/snapshots/pixi_build_python__python__tests__setting_host_and_build_requirements.snap
  crates/pixi-build/src/dependencies.rs
Due: none

feat: support editable installs for `pixi build`
  Cargo.lock
  Cargo.toml
  crates/pixi-build/src/bin/pixi-build-python/python.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/rattler_build.rs
  crates/pixi-build/src/cli.rs
Due: taplo

Get dev version of pixi
  Cargo.lock
  Cargo.toml
Due: taplo

feat: add simple readme
  README.md
Due: none

fix: update README
  README.md
Due: none

Add editable option
  Cargo.lock
  crates/pixi-build/src/bin/pixi-build-python/build_script.j2
  crates/pixi-build/src/bin/pixi-build-python/build_script.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/rattler_build.rs
  crates/pixi-build/src/cli.rs
Due: none

Add editable support
  Cargo.lock
  Cargo.toml
  crates/pixi-build/src/bin/pixi-build-python/build_script.j2
  crates/pixi-build/src/bin/pixi-build-python/build_script.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/rattler_build.rs
  crates/pixi-build/src/cli.rs
Due: taplo

Update crates/pixi-build/src/bin/pixi-build-python/python.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
Due: none

fix: switch `pixi` dependency back to prefix-dev
  Cargo.lock
  Cargo.toml
  crates/pixi-build/src/bin/pixi-build-python/python.rs
  crates/pixi-build/src/tools.rs
Due: taplo

Pin rattler-build
  Cargo.lock
  Cargo.toml
  crates/pixi-build/src/tools.rs
Due: taplo

Fix clippy lint
  crates/pixi-build/src/tools.rs
Due: none

feat: update pixi manifest
  Cargo.lock
  Cargo.toml
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/tools.rs
Due: taplo

misc: bump rust toolchain
  rust-toolchain
Due: none

misc: manifest with subdir
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
Due: none

fix: build string
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/rattler_build.rs
Due: none

chore: update dependencies
  Cargo.lock
  Cargo.toml
Due: taplo

feat: split intialize and capabilities
  Cargo.lock
  Cargo.toml
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/rattler_build.rs
  crates/pixi-build/src/cli.rs
  crates/pixi-build/src/protocol.rs
  crates/pixi-build/src/server.rs
  crates/pixi-build/src/tools.rs
Due: taplo

fix: cmake in build section
  Cargo.lock
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
Due: none

fix: remove overrides from run
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
Due: none

fix: snapshots
  Cargo.lock
  crates/pixi-build/Cargo.toml
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/bin/pixi-build-cmake/snapshots/pixi_build_cmake__cmake__tests__setting_host_and_build_requirements-2.snap
  crates/pixi-build/src/bin/pixi-build-cmake/snapshots/pixi_build_cmake__cmake__tests__setting_host_and_build_requirements.snap
Due: taplo

chore: update package keys
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/pixi-build/Cargo.toml
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/bin/pixi-build-cmake/config.rs
  crates/pixi-build/src/bin/pixi-build-python/config.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
  crates/pixi-build/src/bin/pixi-build-rattler-build/rattler_build.rs
  crates/pixi-build/src/cli.rs
  crates/pixi-build/src/manifest_ext.rs
Due: taplo

formatting
  crates/pixi-build/src/bin/pixi-build-cmake/config.rs
  crates/pixi-build/src/bin/pixi-build-python/config.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
Due: none

feat: update readme with link
  README.md
Due: none

add cmake compile commands
  crates/pixi-build/src/bin/pixi-build-cmake/build_script.j2
Due: none

feat: install lzma for now until we convert to pixi
  .github/workflows/rust-compile.yml
Due: check-yaml, actionlint

feat: variants in metadata
  Cargo.lock
  Cargo.toml
  crates/pixi-build/Cargo.toml
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
  crates/pixi-build/src/dependencies.rs
  crates/pixi-build/src/lib.rs
  crates/pixi-build/src/tools.rs
  crates/pixi-build/src/variants.rs
  pixi.lock
Due: taplo

fix: tests
  crates/pixi-build/src/bin/pixi-build-python/python.rs
Due: none

fix: tests
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
Due: none

fix: make source for cache
  recipe/recipe.yaml
Due: check-yaml

add into_diagnostic
  crates/pixi-build/src/tools.rs
Due: none

fmt
  crates/pixi-build/src/tools.rs
Due: none

extract used variant
  crates/pixi-build/src/bin/pixi-build-cmake/cmake.rs
  crates/pixi-build/src/bin/pixi-build-python/python.rs
Due: none
