Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

chore: update to pixi main
  Cargo.lock
  Cargo.toml
Due: taplo

fix: update cargo.lock for python
  Cargo.lock
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
Due: taplo

fix: pin rattler-build in python bindings
  py-pixi-build-backend/Cargo.lock
Due: none

feat: add automatic ROS distro detection from robostack channels
  backends/pixi-build-ros/src/pixi_build_ros/config.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/tests/test_distro_detection.py
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-rust/src/main.rs
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/python_generator.py
  py-pixi-build-backend/pixi_build_backend/types/generated_recipe.py
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: none

revert rename of manifest_path
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: none

fix: some misc backend issues
  backends/pixi-build-ros/src/pixi_build_ros/config.py
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/templates/build_catkin.sh
  backends/pixi-build-ros/tests/test_meta_data_provider.py
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

fix test
  backends/pixi-build-ros/tests/test_meta_data_provider.py
Due: none

fix: remove license stuff
  backends/pixi-build-ros/src/pixi_build_ros/metadata_provider.py
Due: none

revert some of the refactors
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/traits/project.rs
  crates/pixi-build-backend/src/traits/targets.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
  crates/recipe-stage0/src/recipe.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: none

docs: add the automatic distro detection
  docs/backends/pixi-build-ros.md
Due: none

feat: add support for building native-tls version
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-mojo/Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rust/Cargo.toml
Due: taplo

feat: add support in py-build-backend as well
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
Due: taplo

remove unused edits
  Cargo.toml
Due: taplo

fix: return None for license_file() as it doesn't work currently
  backends/pixi-build-ros/tests/__snapshots__/test_package_xml.ambr
  backends/pixi-build-ros/tests/__snapshots__/test_version_constraints.ambr
  backends/pixi-build-ros/tests/test_meta_data_provider.py
Due: none

chore: cleanup ros config
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/src/pixi_build_ros/config.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
Due: taplo

test: verify RustBackendConfig only accepts kebab-case (debug-dir)
  crates/pixi-build-rust/src/config.rs
Due: none

ci: run full lint in ros ci
  .github/workflows/ros-build.yml
Due: check-yaml, actionlint

feat: accept both debug-dir and debug_dir in all backend configs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-mojo/src/config.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rust/src/config.rs
  py-pixi-build-backend/src/types/config.rs
Due: none

don't use the staging channel for automatic distro detection
  backends/pixi-build-ros/src/pixi_build_ros/config.py
  backends/pixi-build-ros/tests/test_distro_detection.py
Due: none

docs: don't use the staging channel for automatic distro detection
  docs/backends/pixi-build-ros.md
Due: none

add lua-dev
  backends/pixi-build-ros/robostack.yaml
Due: check-yaml

ci: fix ros build config
  .github/workflows/ros-build.yml
Due: check-yaml, actionlint

bump: py-pixi-build-backend
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi.toml
Due: taplo

bump: update ros lock
  backends/pixi-build-ros/pixi.lock
Due: none

fix: improve pythonic code
  backends/pixi-build-ros/src/pixi_build_ros/config.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
Due: none

fix: distro naming in code
  backends/pixi-build-ros/src/pixi_build_ros/config.py
Due: none

fix: clean all the process
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

release: bump pixi-build-backends versions
  Cargo.lock
  backends/pixi-build-ros/pyproject.toml
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-mojo/Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rust/Cargo.toml
Due: taplo

misc: update pixi.lock pixi build ros
  backends/pixi-build-ros/pixi.lock
Due: none

misc: always log variants.yaml
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

chore: remove unused snapshots
  .gitignore
  crates/pixi-build-backend/tests/integration/snapshots/integration__protocol__conda_build.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@unix-nopython-no-extra-args.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@unix-nopython-with-extra-args.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@unix-python-no-extra-args.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@unix-python-with-extra-args.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@windows-nopython-no-extra-args.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@windows-nopython-with-extra-args.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@windows-python-no-extra-args.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@windows-python-with-extra-args.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__cmake__tests__setting_host_and_build_requirements.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_bin_is_set.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_pkg_is_set.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__entry_point_nested.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__entry_point_not_a_module.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__entry_point_not_string.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__entry_points_are_read.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__noarch_none.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__noarch_python.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__recipe_from_pyproject_toml.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__scripts_are_respected.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__setting_host_and_build_requirements-2.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__setting_host_and_build_requirements.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__wrong_entry_points.snap
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs.snap
  crates/pixi-build-rattler-build/src/snapshots/pixi_build_rattler_build__protocol__tests__conda_outputs@sub_packages__recipe.yaml.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__build_script@bash.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__build_script@cmdexe.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__openssl@bash.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__openssl@cmdexe.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__sccache@bash.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__sccache@cmdexe.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__rust__tests__generate_rust_recipe_from_project_model.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__conda_outputs_with_variants.snap
  crates/recipe-stage0/src/snapshots/recipe_stage0__recipe__tests__project_model_into_recipe.snap
  crates/recipe-stage0/src/snapshots/recipe_stage0__recipe__tests__recipe_to_yaml.snap
Due: none

fix: return all used variants
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

feat: store recipe under separate variant hash
  crates/pixi-build-backend/src/intermediate_backend.rs
  docs/index.md
Due: none

Add test
  Cargo.lock
  crates/pixi-build-backend/src/utils/test.rs
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-cmake/src/main.rs
Due: taplo

Add tests
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

misc: update docs
  crates/pixi-build-backend/src/intermediate_backend.rs
  docs/index.md
Due: none

misc: rename dirs
  crates/pixi-build-backend/src/intermediate_backend.rs
  docs/index.md
Due: none

misc: change section
  docs/index.md
Due: none

fix: remove dead code
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-backend/src/lib.rs
  crates/pixi-build-backend/src/project.rs
Due: taplo

Update lock file
  py-pixi-build-backend/Cargo.lock
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  taplo: any of: \.toml$, but not: (^.pixi/|.snap)
