Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run -e lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]

Add unwraps
  crates/pixi-build-rattler-build/src/config.rs
Due: none

Simplify trait bounds
  crates/pixi-build-backend/src/generated_recipe.rs
Due: none

Adapt tests
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rust/src/config.rs
Due: none

Simplify code
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rust/src/config.rs
Due: none

Update Cargo.toml
  Cargo.lock
  Cargo.toml
Due: taplo

Update python bindings
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
Due: taplo

Make clippy happy
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

Adapt python bindings
  py-pixi-build-backend/src/types/config.rs
Due: none

Add tests that `debug_dir` cannot be overriden
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rust/src/config.rs
Due: none

Extend noarch test
  crates/pixi-build-python/src/config.rs
Due: none

Adapt docs for debug-dir
  docs/backends/pixi-build-cmake.md
  docs/backends/pixi-build-python.md
  docs/backends/pixi-build-rattler-build.md
  docs/backends/pixi-build-rust.md
Due: none

add mojo ci
  .github/workflows/build-upload.yml
  recipe/pixi-build-mojo.yaml
Due: check-yaml, actionlint

review issues
  recipe/pixi-build-mojo.yaml
Due: check-yaml

fix: add missing pixi-build-mojo recipe
  recipe/pixi-build-mojo.yaml
Due: check-yaml

fix: source discovery
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
Due: none

fix: formatting
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-python/src/main.rs
Due: none

fix: add tag spec for upload ci trigger
  .github/workflows/build-upload.yml
Due: check-yaml, actionlint

fix: recipe source path
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
Due: none

fix: tests
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
Due: none

fix: workspace root
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/utils/test.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: taplo

encode all source deps
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-backend/src/encoded_source_spec_url.rs
  crates/pixi-build-backend/src/lib.rs
  crates/pixi-build-backend/src/specs_conversion.rs
Due: taplo

explanation
  crates/pixi-build-backend/src/encoded_source_spec_url.rs
Due: none

feat: upstream latest pixi
  Cargo.lock
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/utils/test.rs
Due: none

fixes
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  py-pixi-build-backend/Cargo.lock
Due: none

fix: make manifest_path backwards compatible
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
Due: none

fix: use remote repository instead of local paths
  Cargo.toml
Due: taplo

fix: binary specs can be constrained
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/src/specs_conversion.rs
  crates/pixi-build-backend/tests/integration/snapshots/integration__protocol__conda_get_metadata.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__tests__cxx_is_in_build_requirements.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__tests__cxx_is_not_added_if_gcc_is_already_present.snap
  crates/pixi-build-mojo/Cargo.toml
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__max_is_in_build_requirements.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__max_is_not_added_if_max_is_already_present.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_bin_is_set.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_pkg_is_set.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__pip_is_in_host_requirements.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__python_is_not_added_if_already_present.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_in_build_requirements.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_not_added_if_already_present.snap
Due: taplo

fix: don't copy source dir
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/build_script.j2
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
Due: none

Enforce that the Rust target directory is created in the work dir
  crates/pixi-build-rust/src/build_script.j2
Due: none

Adapt bindings
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/python_generator.py
  py-pixi-build-backend/pixi_build_backend/types/generated_recipe.py
  py-pixi-build-backend/src/types/generated_recipe.rs
  py-pixi-build-backend/tests/unit/__snapshots__/test_generated_recipe.ambr
  py-pixi-build-backend/tests/unit/test_generated_recipe.py
Due: none

Update snapshots
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@unix-nopython.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@unix-python.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@windows-nopython.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__build_script__test__build_script@windows-python.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__tests__cxx_is_in_build_requirements.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__tests__cxx_is_not_added_if_gcc_is_already_present.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__max_is_in_build_requirements.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__max_is_not_added_if_max_is_already_present.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_bin_is_set.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_pkg_is_set.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__pip_is_in_host_requirements.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__python_is_not_added_if_already_present.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__build_script@bash.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__build_script@cmdexe.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__openssl@bash.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__openssl@cmdexe.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__sccache@bash.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__build_script__test__sccache@cmdexe.snap
Due: none

More snapshots
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_in_build_requirements.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_not_added_if_already_present.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__sccache_is_enabled.snap
Due: none

Make ruff happy
  py-pixi-build-backend/pixi_build_backend/types/generated_recipe.py
  py-pixi-build-backend/tests/unit/test_generated_recipe.py
Due: none

Always use manifest dir for Python
  crates/pixi-build-python/src/build_script.j2
Due: none

fix: typo
  crates/pixi-build-backend/src/protocol.rs
Due: none

fix: variant discovery from recipe
  crates/pixi-build-backend/src/specs_conversion.rs
Due: none

misc: update snapshots
  crates/pixi-build-backend/src/specs_conversion.rs
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__tests__cxx_is_in_build_requirements.snap
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__tests__cxx_is_not_added_if_gcc_is_already_present.snap
Due: none

fix: snapshots
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__max_is_in_build_requirements.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__max_is_not_added_if_max_is_already_present.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_bin_is_set.snap
  crates/pixi-build-mojo/src/snapshots/pixi_build_mojo__tests__mojo_pkg_is_set.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__pip_is_in_host_requirements.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__tests__python_is_not_added_if_already_present.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_in_build_requirements.snap
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_not_added_if_already_present.snap
Due: none

Update encoded_source_spec_url.rs
  crates/pixi-build-backend/src/encoded_source_spec_url.rs
Due: none

fix: clippy
  crates/pixi-build-backend/src/encoded_source_spec_url.rs
  py-pixi-build-backend/Cargo.lock
Due: none
