Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

misc: update snapshot
  py-pixi-build-backend/pixi_build_backend/types/intermediate_recipe.py
  py-pixi-build-backend/src/recipe_stage0/recipe.rs
  py-pixi-build-backend/tests/unit/__snapshots__/test_intermediate_recipe.ambr
Due: none

feat: make compilers configurable in cmake
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-cmake/src/main.rs
Due: none

feat: added to python
  crates/pixi-build-backend/src/compilers.rs
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-rust/src/config.rs
  crates/pixi-build-rust/src/main.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__env_vars_are_set.snap.new
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_in_build_requirements.snap.new
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_not_added_if_already_present.snap.new
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__sccache_is_enabled.snap
Due: none

fix: remove c compiler as a dependency as it results in the wrong rust compiler being used on windows.
  recipe/py-pixi-build-backend/recipe.yaml
Due: check-yaml

fix: run osx-64 builds on osx-arm64
  scripts/generate-matrix.py
Due: none

mojo backend modified
  crates/pixi-build-mojo/src/config.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/config.rs
Due: none

docs: add docs
  docs/backends/pixi-build-cmake.md
  docs/backends/pixi-build-mojo.md
  docs/backends/pixi-build-python.md
  docs/backends/pixi-build-rust.md
  docs/index.md
  docs/key_concepts/compilers.md
  mkdocs.yml
Due: check-yaml

fix: derive recipe dir from recipe path
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

fix: clippy
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
Due: none

fix: test issues
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
Due: none

fix: snapshot
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__sccache_is_enabled.snap
Due: none

feat: default noarch for python based on presence of compiler
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/main.rs
  docs/backends/pixi-build-python.md
Due: none

fix: tests
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/main.rs
Due: none

fix: running the package builds with latest pixi
  backends/pixi-build-ros/README.md
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/pyproject.toml
  backends/pixi-build-ros/src/pixi_build_ros/build_script.py
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/templates/build_ament_cmake.sh.in
  backends/pixi-build-ros/templates/build_ament_python.sh.in
  backends/pixi-build-ros/templates/build_catkin.sh.in
Due: taplo

feat(ci): add single package building the the build ci
  .github/workflows/build-upload.yml
  scripts/generate-matrix.py
Due: check-yaml, actionlint

Slightly refactor docs
  docs/index.md
Due: none

Add section `How Compilers Are Selected`
  docs/key_concepts/compilers.md
Due: none

feat: finalized dependencies from pixi
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/Cargo.toml
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/specs_conversion.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/Cargo.toml
  pixi.lock
  pixi.toml
  rust-toolchain
Due: taplo

fix: update py-pixi-build-backend
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
Due: taplo

fix: update pixi branch
  Cargo.lock
  py-pixi-build-backend/Cargo.lock
Due: none

update rust version
  py-pixi-build-backend/pixi.lock
  py-pixi-build-backend/pixi.toml
Due: taplo

fix: compiler errors
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-backend/src/traits/project.rs
  crates/pixi-build-backend/src/utils/test.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__env_vars_are_set.snap.new
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_in_build_requirements.snap.new
  crates/pixi-build-rust/src/snapshots/pixi_build_rust__tests__rust_is_not_added_if_already_present.snap.new
  crates/recipe-stage0/src/requirements.rs
Due: none

update deps
  Cargo.lock
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
Due: taplo

feat: add stdlib
  crates/pixi-build-backend/src/compilers.rs
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/src/variants.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-cmake/src/snapshots/pixi_build_cmake__tests__cxx_is_not_added_if_gcc_is_already_present.snap
  crates/pixi-build-mojo/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
Due: none

Update docs/key_concepts/compilers.md
  docs/key_concepts/compilers.md
Due: none

lint issues
  crates/pixi-build-backend/src/compilers.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: none

target pixi main
  Cargo.lock
  Cargo.toml
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
Due: taplo

feat: read metadata from pyproject.toml
  Cargo.lock
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/main.rs
Due: taplo

feat: read metadata from pyproject.toml
  crates/pixi-build-python/src/metadata.rs
Due: none

feat: read metadata from pyproject.toml
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
Due: none

misc: add inputglobs for metadata input
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-python/src/metadata.rs
Due: none

Downgrade rust-src
  py-pixi-build-backend/pixi.toml
Due: taplo

Don't update rust-src
  renovate.json5
Due: none

Update lock file
  py-pixi-build-backend/pixi.lock
Due: none

misc: fix target overwriting
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/config.rs
Due: none

misc: overwrite project model from pyproject
  crates/pixi-build-python/src/metadata.rs
  crates/pixi-build-python/src/snapshots/pixi_build_python__metadata__tests__generated_recipe_contains_pyproject_values.snap
Due: none

misc: overwrite project model from pyproject
  crates/pixi-build-python/src/metadata.rs
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  taplo: any of: \.toml$, but not: (^.pixi/|.snap)
