Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

clean up
  crates/pixi-build-pyext/src/protocol.rs
  crates/pixi-build-pyext/src/rattler_build.rs
Due: none

Add `.pixi` to `exclude` instead of `include`
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-python/src/python.rs
Due: none

fix noarch python
  crates/pixi-build-python/src/python.rs
Due: none

other commits from pyext
  crates/pixi-build-pyext/Cargo.toml
  crates/pixi-build-pyext/src/config.rs
  crates/pixi-build-pyext/src/protocol.rs
  crates/pixi-build-pyext/src/rattler_build.rs
Due: taplo

Fix some of the snapshots
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__noarch_none.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__noarch_python.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__recipe_from_pyproject_toml.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__scripts_are_respected.snap
Due: none

Update snapshots
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__setting_host_and_build_requirements-2.snap
  crates/pixi-build-python/src/snapshots/pixi_build_python__python__tests__setting_host_and_build_requirements.snap
Due: none

fix: optional env
  crates/pixi-build-python/src/config.rs
Due: none

actual change
  crates/pixi-build-python/src/python.rs
Due: none

fix: made all things optional
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rust/src/config.rs
Due: none

fix: forgot test attribute
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rust/src/config.rs
Due: none

Remove temp file
  crates/pixi-build-rattler-build/.rendered-recipe0xXdqY.yaml
Due: check-yaml

chore: update rust and the cargo edition
  Cargo.lock
  Cargo.toml
  pixi.lock
  pixi.toml
  rust-toolchain
Due: taplo

chore: fmt and clippy
  crates/pixi-build-backend/src/cache.rs
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/common/configuration.rs
  crates/pixi-build-backend/src/common/mod.rs
  crates/pixi-build-backend/src/common/requirements.rs
  crates/pixi-build-backend/src/common/variants.rs
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/server.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-backend/src/traits/project.rs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/build_script.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/src/protocol.rs
  crates/pixi-build-rust/src/rust.rs
Due: none

chore: update to latest rattler-build
  Cargo.lock
  Cargo.toml
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-rust/src/rust.rs
Due: taplo

chore: fmt clippy
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-python/src/python.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/src/protocol.rs
  crates/pixi-build-rust/src/rust.rs
Due: none

misc: try to set dummy client
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

misc: pass dummy client
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

misc: format the code
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

chore: update rattler-build
  Cargo.lock
Due: none

handle editable python installs better with globs
  crates/pixi-build-python/src/protocol.rs
Due: none

add missing file
  crates/pixi-build-pyext/pixi.toml
Due: taplo

fix editable
  crates/pixi-build-python/src/protocol.rs
Due: none

use the right parent directory for recipe.yaml to get proper hashes
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

add in all path sources from the recipe
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

fix: resolve build string
  crates/pixi-build-backend/src/tools.rs
Due: none

ci: use ubuntu latest
  scripts/generate_version_matrix.py
Due: none

Use different glob if source is a file
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

chore: bump version numbers
  Cargo.lock
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rust/Cargo.toml
Due: taplo

chore: update pixi.toml
  RELEASE.md
  crates/pixi-build-cmake/pixi.toml
  crates/pixi-build-python/pixi.toml
  crates/pixi-build-rattler-build/pixi.toml
  crates/pixi-build-rust/pixi.toml
Due: taplo

ci: add release script
  pixi.lock
  pixi.toml
  scripts/release.py
Due: taplo

chore: bump pixi-build-rust
  Cargo.lock
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/pixi.toml
Due: taplo

Pin backend
  crates/pixi-build-rust/pixi.toml
Due: taplo

Bump all version and pin backend to an even older version
  Cargo.lock
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-cmake/pixi.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-python/pixi.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rattler-build/pixi.toml
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/pixi.toml
Due: taplo

fix: downgrade rattler-build
  pixi.lock
Due: none

ci: move temporarily to recipe build
  .github/workflows/rattler-build.yml
  recipe/pixi_build_cmake.yaml
  recipe/pixi_build_python.yaml
  recipe/pixi_build_rattler_build.yaml
  recipe/pixi_build_rust.yaml
Due: check-yaml, actionlint

Small adaptions
  .github/workflows/rattler-build.yml
  pixi.toml
Due: check-yaml, actionlint, taplo

Bump pixi-build-rust version
  Cargo.lock
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/pixi.toml
Due: taplo

fix: recipe name
  .github/workflows/rattler-build.yml
  recipe/pixi-build-cmake.yaml
  recipe/pixi-build-python.yaml
  recipe/pixi-build-rattler-build.yaml
  recipe/pixi-build-rust.yaml
Due: check-yaml, actionlint

fix: go back to pixi build
  .github/workflows/rattler-build.yml
  Cargo.lock
  crates/pixi-build-rust/Cargo.toml
  crates/pixi-build-rust/pixi.toml
  pixi.toml
  recipe/pixi-build-cmake.yaml
  recipe/pixi-build-python.yaml
  recipe/pixi-build-rattler-build.yaml
  recipe/pixi-build-rust.yaml
Due: check-yaml, actionlint, taplo

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  taplo: any of: \.toml$, but not: (^.pixi/|.snap)
