Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

misc: remove comments
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

precommit
  crates/pixi-build-cmake/Cargo.toml
Due: taplo

misc: push uncommented code
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-rust/src/main.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: none

misc: remove some commented stuff
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/pixi_build_backend/__init__.py
  py-pixi-build-backend/pyproject.toml
  py-pixi-build-backend/tests/conftest.py
Due: taplo

update recipes
  recipe/pixi-build-api-version.yaml
  recipe/pixi-build-cmake.yaml
  recipe/pixi-build-python.yaml
  recipe/pixi-build-rattler-build.yaml
  recipe/pixi-build-rust.yaml
Due: check-yaml

fixes from code review
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/tools.rs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

fix: update compatible api version in recipe
  recipe/pixi-build-cmake.yaml
  recipe/pixi-build-python.yaml
  recipe/pixi-build-rattler-build.yaml
  recipe/pixi-build-rust.yaml
Due: check-yaml

feat: add LICENSE
  LICENSE
Due: none

precommit
  LICENSE
Due: none

chore: align recipes with conda-forge
  recipe/pixi-build-api-version.yaml
  recipe/pixi-build-cmake.yaml
  recipe/pixi-build-python.yaml
  recipe/pixi-build-rattler-build.yaml
  recipe/pixi-build-rust.yaml
Due: check-yaml

fix: recipes
  recipe/pixi-build-api-version.yaml
  recipe/pixi-build-cmake.yaml
  recipe/pixi-build-python.yaml
  recipe/pixi-build-rattler-build.yaml
  recipe/pixi-build-rust.yaml
Due: check-yaml

bump: pixi-build-rattler-build 0.2.0
  Cargo.lock
  crates/pixi-build-rattler-build/Cargo.toml
Due: taplo

misc: add recipe
  .github/workflows/python-bindigs.yml
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-python/src/main.rs
  crates/pixi-build-rust/src/main.rs
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/main.py
  py-pixi-build-backend/pixi.lock
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/pixi_build_backend/main.py
  py-pixi-build-backend/pyproject.toml
  py-pixi-build-backend/src/cli/mod.rs
  py-pixi-build-backend/src/lib.rs
  py-pixi-build-backend/src/types/backend.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
  recipe/pixi-build-py-pixi-build-backend.yaml
Due: check-yaml, actionlint, taplo

misc: format files
  py-pixi-build-backend/pixi.toml
  recipe/pixi-build-py-pixi-build-backend.yaml
Due: check-yaml, taplo

misc: fix typings of python code
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/build_script.py
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/main.py
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/python_generator.py
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/utils.py
  py-pixi-build-backend/pixi.lock
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/pixi_build_backend/types/entry_points.py
  py-pixi-build-backend/pixi_build_backend/types/intermediate_recipe.py
  py-pixi-build-backend/tests/conftest.py
  py-pixi-build-backend/tests/unit/test_generated_recipe.py
  py-pixi-build-backend/tests/unit/test_intermediate_recipe.py
  py-pixi-build-backend/tests/unit/test_platform.py
  py-pixi-build-backend/tests/unit/test_project_model.py
Due: taplo

misc: remove public API
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/python_generator.py
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/utils.py
  py-pixi-build-backend/pixi_build_backend/types/entry_points.py
  py-pixi-build-backend/src/lib.rs
Due: none

misc: remove exposing the func
  py-pixi-build-backend/src/lib.rs
Due: none

misc: remove utils
  py-pixi-build-backend/src/recipe_stage0/mod.rs
  py-pixi-build-backend/src/recipe_stage0/utils.rs
Due: none

chore: switch to `lefthook` from `pre-commit`
  .dprint.jsonc
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  lefthook.yaml
  pixi.lock
  pixi.toml
Due: check-yaml, actionlint, taplo

pixi run lint
  .github/workflows/build-upload.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/testsuite.yml
  mkdocs.yml
  tests/recipe/boltons/recipe.yaml
Due: check-yaml, actionlint

fix: use default variants from recipe
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-cmake/src/main.rs
Due: none

fix: recipes
  recipe/pixi-build-cmake.yaml
  recipe/pixi-build-python.yaml
  recipe/pixi-build-rattler-build.yaml
  recipe/pixi-build-rust.yaml
Due: check-yaml

fix: versions
  Cargo.lock
  crates/pixi-build-cmake/Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rust/Cargo.toml
Due: taplo

remove lots of unused dependenices
  Cargo.lock
  Cargo.toml
  crates/pixi-build-python/Cargo.toml
  crates/pixi-build-rattler-build/Cargo.toml
  crates/pixi-build-rust/Cargo.toml
Due: taplo

fix: env var handling
  crates/pixi-build-mojo/src/config.rs
  docs/backends/pixi-build-mojo.md
Due: none

misc: fix lints
  .github/workflows/python-bindigs.yml
  py-pixi-build-backend/tests/data/boltons_recipe.yaml
  recipe/pixi-build-py-pixi-build-backend.yaml
Due: check-yaml, actionlint

misc: bump rattler versions
  Cargo.toml
Due: taplo

misc: add toml in tests
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi.lock
  py-pixi-build-backend/pixi.toml
  py-pixi-build-backend/tests/data/boltons_recipe.yaml
Due: check-yaml, taplo

Add trait
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rust/src/config.rs
Due: none

Add docs and update dependencies
  Cargo.lock
  Cargo.toml
  docs/backends/pixi-build-cmake.md
  docs/backends/pixi-build-python.md
  docs/backends/pixi-build-rattler-build.md
  docs/backends/pixi-build-rust.md
Due: taplo

Move merge function to `BackendConfig`
  Cargo.lock
  crates/pixi-build-backend/src/cli.rs
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/utils/test.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-cmake/src/main.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rattler-build/src/protocol.rs
  crates/pixi-build-rust/src/config.rs
Due: none

Store target_config in intermediatebackend struct
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-python/src/config.rs
Due: none

Use target specific config in get_metadata
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

Use merged config in more places
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

fix: add python init
  py-pixi-build-backend/pixi_build_backend/types/intermediate_recipe.py
Due: none

fix: add proper constructor
  py-pixi-build-backend/examples/pixi-build-python/pixi_build_python/python_generator.py
  py-pixi-build-backend/src/recipe_stage0/conditional.rs
Due: none

msc: format rust macro
  py-pixi-build-backend/src/recipe_stage0/conditional.rs
Due: none

Also accept matching platforms
  crates/pixi-build-backend/src/intermediate_backend.rs
Due: none

Disallow target specific debug dir
  crates/pixi-build-backend/src/generated_recipe.rs
  crates/pixi-build-backend/src/intermediate_backend.rs
  crates/pixi-build-backend/tests/integration/protocol.rs
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rust/src/config.rs
  docs/backends/pixi-build-cmake.md
  docs/backends/pixi-build-python.md
  docs/backends/pixi-build-rattler-build.md
  docs/backends/pixi-build-rust.md
Due: none

Deny unknown fields
  crates/pixi-build-cmake/src/config.rs
  crates/pixi-build-python/src/config.rs
  crates/pixi-build-rattler-build/src/config.rs
  crates/pixi-build-rust/src/config.rs
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  taplo: any of: \.toml$, but not: (^.pixi/|.snap)
