Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run -e lint actionlint

taplo:
  name: taplo
  entry: pixi run -e lint toml-format
  language: system

Go back to pixi main
  Cargo.lock
  Cargo.toml
Due: taplo

Bump version
  Cargo.lock
  crates/pixi-build/Cargo.toml
Due: taplo

misc: update CI
  .github/workflows/rattler-build.yml
  recipe/recipe.yaml
Due: check-yaml, actionlint

misc: fix filtering
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

fix: select syntax
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: split into multiple recipes and use underscore
  .github/workflows/rattler-build.yml
  recipe/pixi_build_cmake.yaml
  recipe/pixi_build_python.yaml
  recipe/pixi_build_rattler_build.yaml
Due: check-yaml, actionlint

misc: remove pipe
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: remove base recipe
  recipe/recipe.yaml
Due: check-yaml

misc: add some comments
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: use the same recipe for test
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

misc: remove skip existing
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: fix pre-commit
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: move it as python script
  .github/workflows/rattler-build.yml
  scripts/generate_version_matrix.py
Due: check-yaml, actionlint

misc: add release env
  .github/workflows/rattler-build.yml
  pixi.lock
  pixi.toml
Due: check-yaml, actionlint, taplo

misc: remove nested matrix
  .github/workflows/rattler-build.yml
  scripts/generate_version_matrix.py
Due: check-yaml, actionlint

misc: debug matrix
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: add a nice concureny control
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: simplify matrix
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: tojson
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: hack for matrix generation problem
  .github/workflows/rattler-build.yml
  scripts/generate_version_matrix.py
Due: check-yaml, actionlint

misc: filter packages that are not published
  .github/workflows/rattler-build.yml
  scripts/generate_version_matrix.py
Due: check-yaml, actionlint

misc: add missing requirements section
  recipe/pixi_build_cmake.yaml
  recipe/pixi_build_python.yaml
  recipe/pixi_build_rattler_build.yaml
Due: check-yaml

misc: add missing requirements section
  scripts/generate_version_matrix.py
Due: none

misc: add source to the recipes
  recipe/pixi_build_cmake.yaml
  recipe/pixi_build_python.yaml
  recipe/pixi_build_rattler_build.yaml
Due: check-yaml

misc: fix source path
  recipe/pixi_build_cmake.yaml
  recipe/pixi_build_python.yaml
  recipe/pixi_build_rattler_build.yaml
Due: check-yaml

Update .github/workflows/rattler-build.yml
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: add release notes
  .github/workflows/rattler-build.yml
  RELEASE.md
  pixi.lock
  pixi.toml
Due: check-yaml, actionlint, taplo

misc: name it build recipe
  .github/workflows/rattler-build.yml
  pixi.toml
Due: check-yaml, actionlint, taplo

misc: add git tag checks
  .github/workflows/rattler-build.yml
  RELEASE.md
  pixi.toml
  scripts/generate_version_matrix.py
Due: check-yaml, actionlint, taplo

misc: add a small comment
  .github/workflows/rattler-build.yml
Due: check-yaml, actionlint

misc: add new check
  scripts/generate_version_matrix.py
Due: none

feat: support multiple tags
  scripts/generate_version_matrix.py
Due: none

misc: remove type
  scripts/generate_version_matrix.py
Due: none

misc: fix skipping when it's empty
  scripts/generate_version_matrix.py
Due: none

chore(docs): fix typo
  README.md
Due: none

wip: refactor into traits
  crates/pixi-build-backend/src/build_types_ext.rs
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/lib.rs
  crates/pixi-build-backend/src/project.rs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-python/src/python.rs
Due: none

feat: move all into separate modules
  crates/pixi-build-backend/src/build_types_ext.rs
  crates/pixi-build-backend/src/dependencies.rs
  crates/pixi-build-backend/src/lib.rs
  crates/pixi-build-backend/src/project.rs
  crates/pixi-build-backend/src/traits/mod.rs
  crates/pixi-build-backend/src/traits/package_spec.rs
  crates/pixi-build-backend/src/traits/project.rs
  crates/pixi-build-backend/src/traits/targets.rs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-cmake/src/protocol.rs
  crates/pixi-build-python/src/protocol.rs
  crates/pixi-build-python/src/python.rs
Due: none

misc: add a trait new spec method
  crates/pixi-build-backend/src/lib.rs
  crates/pixi-build-backend/src/project.rs
  crates/pixi-build-backend/src/traits/project.rs
  crates/pixi-build-backend/src/traits/targets.rs
  crates/pixi-build-cmake/src/cmake.rs
  crates/pixi-build-python/src/python.rs
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap))
  taplo: any of: \.toml$, but not: (^.pixi/|.snap)
