Repository prefix-dev/pixi-build-backends: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint, taplo

.pre-commit-config.yaml:

exclude: (^.pixi/|.snap)
repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      # GitHub Actions
      - id: actionlint
        name: Lint GitHub Actions workflow files
        language: system
        entry: pixi run -e lint actionlint
        types: [yaml]
        files: ^\.github/workflows/
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
      # TOML format
      - id: taplo
        name: taplo
        entry: pixi run -e lint toml-format
        language: system
        types: [file, toml]

misc: re-export rattler build types
  crates/pixi-build-backend/src/lib.rs
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/src/types/generated_recipe.rs
Due: taplo

misc: add back the space
  py-pixi-build-backend/Cargo.toml
Due: taplo

docs: fix examples and remove noarch
  docs/backends/pixi-build-ros.md
Due: none

feat: modify build scripts to remove build artifacts
  backends/pixi-build-ros/templates/bld_ament_python.bat
  backends/pixi-build-ros/templates/build_ament_python.sh
Due: none

misc: remove exit comment
  backends/pixi-build-ros/templates/build_ament_python.sh
Due: none

fix: remove commands in python build script on windows for ROS
  backends/pixi-build-ros/templates/bld_ament_python.bat
Due: none

fix: add force option for symbolic linking
  backends/pixi-build-ros/templates/build_ament_cmake.sh
Due: none

misc: remove unecessary part
  backends/pixi-build-ros/templates/build_ament_cmake.sh
Due: none

update py-pixi-build-backend cargo versions
  Cargo.lock
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/src/recipe_stage0/conditional.rs
  py-pixi-build-backend/src/recipe_stage0/recipe.rs
  py-pixi-build-backend/src/types/config.rs
  py-pixi-build-backend/src/types/generated_recipe.rs
  py-pixi-build-backend/src/types/metadata_provider.rs
Due: taplo

fix: make host platform configurable.
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
Due: none

test: make host platform configurable.
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/tests/test_package_xml.py
Due: taplo

release: bump pixi-build-ros to 0.1.3
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/pyproject.toml
Due: taplo

docs: change `configuration` to `config`
  docs/backends/pixi-build-ros.md
Due: none

fix: add entry points to pixi-build-ros
  recipe/pixi-build-ros/recipe.yaml
Due: check-yaml

chore: bump build number for pixi-build-ros
  recipe/pixi-build-ros/recipe.yaml
Due: check-yaml

feat: additional package maps
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
  backends/pixi-build-ros/pyproject.toml
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  backends/pixi-build-ros/tests/conftest.py
  backends/pixi-build-ros/tests/data/other_package_map.yaml
  backends/pixi-build-ros/tests/test_distro.py
  backends/pixi-build-ros/tests/test_package_map.py
  backends/pixi-build-ros/tests/test_package_xml.py
  pixi.lock
  pixi.toml
Due: check-yaml, taplo

fix: raise error on invalid package map
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  backends/pixi-build-ros/tests/test_package_map.py
Due: none

fix: revert adding of pixi-pycharm
  pixi.lock
  pixi.toml
Due: taplo

chore: adjust review comments
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/tests/data/other_package_map.yaml
  backends/pixi-build-ros/tests/data/package_xmls/custom_ros.xml
  backends/pixi-build-ros/tests/data/package_xmls/demo_nodes_cpp.xml
Due: check-yaml

fix: use manifest path as base
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
Due: none

fix: also make debug-dir kebab-case
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/tests/data/package_xmls/custom_ros.xml
  backends/pixi-build-ros/tests/test_package_map.py
Due: none

feat: also allow custom ros packages, and rename robostrack to `conda`
  backends/pixi-build-ros/robostack.yaml
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  backends/pixi-build-ros/tests/data/other_package_map.yaml
  backends/pixi-build-ros/tests/data/package_xmls/custom_ros.xml
  backends/pixi-build-ros/tests/test_package_map.py
Due: check-yaml

fix: ensure old package is still present
  backends/pixi-build-ros/tests/test_package_map.py
Due: none

fix: also force symlink on catkin
  backends/pixi-build-ros/templates/build_catkin.sh
Due: none

chore: revert robostack renaming, allow conda and robostack keys
  backends/pixi-build-ros/robostack.yaml
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
Due: check-yaml

fix: run toml lint
  backends/pixi-build-ros/pixi.toml
Due: taplo

feat: change glob types
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

feat: ignore globs
  crates/pixi-build-rattler-build/src/protocol.rs
Due: none

feat: allow for inline sources
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  backends/pixi-build-ros/tests/conftest.py
  backends/pixi-build-ros/tests/test_package_map.py
Due: none

fix: pixi lock file update
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
Due: taplo

chore: adjust review comments
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
  backends/pixi-build-ros/src/pixi_build_ros/utils.py
  backends/pixi-build-ros/tests/conftest.py
  backends/pixi-build-ros/tests/test_package_map.py
Due: none

fix: reverse order for loading
  backends/pixi-build-ros/src/pixi_build_ros/ros_generator.py
Due: none

fix: run tests in ci
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
  pixi.toml
Due: taplo

fix: adapt testsuite changes
  .github/workflows/testsuite.yml
Due: check-yaml, actionlint

fix: add ci for pixi-build-ros
  .github/workflows/ros-build.yml
Due: check-yaml, actionlint

feat: parse model json from python
  backends/pixi-build-ros/tests/data/pixi_test/pixi.toml
  backends/pixi-build-ros/tests/test_package_xml.py
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi_build_backend/types/project_model.py
  py-pixi-build-backend/src/types/project_model.rs
  py-pixi-build-backend/tests/data/project_model_example.json
  py-pixi-build-backend/tests/unit/__snapshots__/test_project_model.ambr
  py-pixi-build-backend/tests/unit/test_project_model.py
Due: taplo

chore: cleanup and simplify test a bit
  backends/pixi-build-ros/tests/data/pixi_test/pixi.toml
  backends/pixi-build-ros/tests/test_package_xml.py
  py-pixi-build-backend/Cargo.lock
  py-pixi-build-backend/Cargo.toml
Due: taplo

feat: add init from dict
  py-pixi-build-backend/Cargo.toml
  py-pixi-build-backend/pixi_build_backend/types/project_model.py
  py-pixi-build-backend/src/types/project_model.rs
  py-pixi-build-backend/tests/unit/__snapshots__/test_project_model.ambr
  py-pixi-build-backend/tests/unit/test_project_model.py
Due: taplo

fix: used dict type
  py-pixi-build-backend/pixi_build_backend/types/project_model.py
Due: none

fix: added source dependency back for testing
  backends/pixi-build-ros/pixi.lock
  backends/pixi-build-ros/pixi.toml
Due: taplo
